* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: currentColor; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear:before, .clear:after {
  content: " ";
  display: table; }
.clear:after {
  clear: both; }

.container {
  position: relative;
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  padding: 100px 0;
  box-sizing: border-box; }
  @media (max-width: 640px) {
    .container {
      width: 85%; } }
  @media (max-width: 425px) {
    .container {
      width: 100%;
      padding: 100px 0px; } }

.wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box; }

.row {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 425px) {
    .row {
      flex-direction: column; } }

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 4%;
  /* Offsets */ }
  @media screen and (max-width: 425px) {
    .col {
      width: 100% !important;
      margin: 0%;
      margin-bottom: 4%; }
      .col:last-child {
        margin-bottom: 0%; } }
  .col:first-child {
    margin-left: 0; }
  .col.one, .col.one-twelfth {
    width: 4.6666666667%; }
  .col.two, .col.one-sixth, .col.two-twelfths {
    width: 13.3333333333%; }
  .col.three, .col.one-quarter, .col.three-twelfths {
    width: 22%; }
  .col.four, .col.one-third, .col.four-twelfths {
    width: 30.6666666667%; }
  .col.five, .col.five-twelfths {
    width: 39.3333333333%; }
  .col.six, .col.one-half, .col.six-twelfths {
    width: 48%; }
  .col.seven, .col.seven-twelfths {
    width: 56.6666666667%; }
  .col.eight, .col.two-thirds, .col.eight-twelfths {
    width: 65.3333333333%; }
  .col.nine, .col.three-quarters, .col.nine-twelfths {
    width: 74%; }
  .col.ten, .col.five-sixths, .col.ten-twelfths {
    width: 82.6666666667%; }
  .col.eleven, .col.eleven-twelfths {
    width: 91.3333333333%; }
  .col.twelve, .col.full, .col.whole {
    width: 100%;
    margin-left: 0; }
  .col.offset-by-one {
    margin-left: 8.6666666667%; }
  .col.offset-by-two {
    margin-left: 17.3333333333%; }
  .col.offset-by-three {
    margin-left: 26%; }
  .col.offset-by-four {
    margin-left: 34.6666666667%; }
  .col.offset-by-five {
    margin-left: 43.3333333333%; }
  .col.offset-by-six {
    margin-left: 52%; }
  .col.offset-by-seven {
    margin-left: 60.6666666667%; }
  .col.offset-by-eight {
    margin-left: 69.3333333333%; }
  .col.offset-by-nine {
    margin-left: 78%; }
  .col.offset-by-ten {
    margin-left: 86.6666666667%; }
  .col.offset-by-eleven {
    margin-left: 95.3333333333%; }
  .col.offset-by-one-third {
    margin-left: 34.6666666667%; }
  .col.offset-by-two-thirds {
    margin-left: 69.3333333333%; }
  .col.offset-by-one-half {
    margin-left: 52%; }

html {
  font-family: "Lato", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 900; }

.nav {
  width: 100%;
  height: 70px;
  padding: 0px 10px; }
  .nav .brand {
    line-height: 70px;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 900; }
  .nav > ul.nav-options {
    line-height: 70px; }
    .nav > ul.nav-options > li {
      display: inline;
      margin: 0px 10px; }
      .nav > ul.nav-options > li:first-of-type {
        margin-left: 0px; }
      .nav > ul.nav-options > li:last-of-type {
        margin-right: 0px; }
