@charset "UTF-8";
:root {
  font-size: 12pt; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: currentColor; }

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear:before, .clear:after {
  content: " ";
  display: table; }
.clear:after {
  clear: both; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.uppercase {
  text-transform: uppercase; }

.uppercase-and-space {
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.container {
  position: relative;
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  padding: 100px 0;
  box-sizing: border-box; }
  @media (max-width: 640px) {
    .container {
      width: 85%; } }
  @media (max-width: 425px) {
    .container {
      width: 100%;
      padding: 100px 0px; } }

.wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box; }

.row {
  display: flex;
  flex-wrap: wrap; }

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 4%;
  /* Offsets */ }
  @media screen and (max-width: 768px) {
    .col.tab-one, .col.tab-one-twelfth {
      width: 4.6666666667% !important; }
    .col.tab-two, .col.tab-one-sixth, .col.tab-two-twelfths {
      width: 13.3333333333% !important; }
    .col.tab-three, .col.tab-one-quarter, .col.tab-three-twelfths {
      width: 22% !important; }
    .col.tab-four, .col.tab-one-third, .col.tab-four-twelfths {
      width: 30.6666666667% !important; }
    .col.tab-five, .col.tab-five-twelfths {
      width: 39.3333333333% !important; }
    .col.tab-six, .col.tab-half, .col.tab-one-half, .col.tab-six-twelfths {
      width: 48% !important; }
    .col.tab-seven, .col.tab-seven-twelfths {
      width: 56.6666666667% !important; }
    .col.tab-eight, .col.tab-two-thirds, .col.tab-eight-twelfths {
      width: 65.3333333333% !important; }
    .col.tab-nine, .col.tab-three-quarters, .col.tab-nine-twelfths {
      width: 74% !important; }
    .col.tab-ten, .col.tab-five-sixths, .col.tab-ten-twelfths {
      width: 82.6666666667% !important; }
    .col.tab-eleven, .col.tab-eleven-twelfths {
      width: 91.3333333333% !important; }
    .col.tab-twelve, .col.tab-full, .col.tab-whole {
      width: 100% !important;
      margin-left: 0;
      margin-bottom: 3%; }
      .col.tab-twelve:last-of-type, .col.tab-full:last-of-type, .col.tab-whole:last-of-type {
        margin-bottom: 0%; } }
  @media screen and (max-width: 425px) {
    .col.mob-one, .col.mob-one-twelfth {
      width: 4.6666666667% !important; }
    .col.mob-two, .col.mob-one-sixth, .col.mob-two-twelfths {
      width: 13.3333333333% !important; }
    .col.mob-three, .col.mob-one-quarter, .col.mob-three-twelfths {
      width: 22% !important; }
    .col.mob-four, .col.mob-one-third, .col.mob-four-twelfths {
      width: 30.6666666667% !important; }
    .col.mob-five, .col.mob-five-twelfths {
      width: 39.3333333333% !important; }
    .col.mob-six, .col.mob-half, .col.mob-one-half, .col.mob-six-twelfths {
      width: 48% !important; }
    .col.mob-seven, .col.mob-seven-twelfths {
      width: 56.6666666667% !important; }
    .col.mob-eight, .col.mob-two-thirds, .col.mob-eight-twelfths {
      width: 65.3333333333% !important; }
    .col.mob-nine, .col.mob-three-quarters, .col.mob-nine-twelfths {
      width: 74% !important; }
    .col.mob-ten, .col.mob-five-sixths, .col.mob-ten-twelfths {
      width: 82.6666666667% !important; }
    .col.mob-eleven, .col.mob-eleven-twelfths {
      width: 91.3333333333% !important; }
    .col.mob-twelve, .col.mob-full, .col.mob-whole {
      width: 100% !important;
      margin-left: 0;
      margin-bottom: 3%; }
      .col.mob-twelve:last-of-type, .col.mob-full:last-of-type, .col.mob-whole:last-of-type {
        margin-bottom: 0%; } }
  .col:first-child {
    margin-left: 0; }
  .col.one, .col.one-twelfth {
    width: 4.6666666667%; }
  .col.two, .col.one-sixth, .col.two-twelfths {
    width: 13.3333333333%; }
  .col.three, .col.one-quarter, .col.three-twelfths {
    width: 22%; }
  .col.four, .col.one-third, .col.four-twelfths {
    width: 30.6666666667%; }
  .col.five, .col.five-twelfths {
    width: 39.3333333333%; }
  .col.six, .col.half, .col.one-half, .col.six-twelfths {
    width: 48%; }
  .col.seven, .col.seven-twelfths {
    width: 56.6666666667%; }
  .col.eight, .col.two-thirds, .col.eight-twelfths {
    width: 65.3333333333%; }
  .col.nine, .col.three-quarters, .col.nine-twelfths {
    width: 74%; }
  .col.ten, .col.five-sixths, .col.ten-twelfths {
    width: 82.6666666667%; }
  .col.eleven, .col.eleven-twelfths {
    width: 91.3333333333%; }
  .col.twelve, .col.full, .col.whole {
    width: 100%;
    margin-left: 0; }
  .col.offset-by-one {
    margin-left: 8.6666666667%; }
  .col.offset-by-two {
    margin-left: 17.3333333333%; }
  .col.offset-by-three {
    margin-left: 26%; }
  .col.offset-by-four {
    margin-left: 34.6666666667%; }
  .col.offset-by-five {
    margin-left: 43.3333333333%; }
  .col.offset-by-six {
    margin-left: 52%; }
  .col.offset-by-seven {
    margin-left: 60.6666666667%; }
  .col.offset-by-eight {
    margin-left: 69.3333333333%; }
  .col.offset-by-nine {
    margin-left: 78%; }
  .col.offset-by-ten {
    margin-left: 86.6666666667%; }
  .col.offset-by-eleven {
    margin-left: 95.3333333333%; }
  .col.offset-by-one-third {
    margin-left: 34.6666666667%; }
  .col.offset-by-two-thirds {
    margin-left: 69.3333333333%; }
  .col.offset-by-one-half {
    margin-left: 52%; }

html {
  font-family: "Lato", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 900; }

.nav {
  width: 100%;
  height: 70px;
  padding: 0px 15px;
  z-index: 98;
  font-size: 0.9rem; }
  .nav.fixed {
    position: fixed !important;
    top: 0px; }
  .nav.centered {
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 768px) {
      .nav.centered {
        justify-content: space-between; } }
    .nav.centered .nav-options > li {
      padding: 0px 12px !important; }
    .nav.centered .nav-options .dropdown .dropdown-content {
      left: -50%; }
  .nav.mobile {
    background-color: transparent;
    position: relative; }
    .nav.mobile .mob-nav {
      display: block; }
      .nav.mobile .mob-nav .mob-toggle {
        display: none; }
        .nav.mobile .mob-nav .mob-toggle:checked ~ .nav-options {
          display: flex; }
          @media screen and (max-width: 768px) {
            .nav.mobile .mob-nav .mob-toggle:checked ~ .nav-options {
              display: block; } }
      .nav.mobile .mob-nav .nav-options {
        z-index: -1;
        justify-content: center;
        top: 0px; }
        @media screen and (max-width: 768px) {
          .nav.mobile .mob-nav .nav-options {
            top: auto; } }
  .nav.skinny {
    height: 50px;
    font-size: 0.8rem; }
    .nav.skinny .brand {
      line-height: 50px; }
      .nav.skinny .brand img.logo {
        height: 25px; }
    .nav.skinny .nav-options {
      line-height: 50px; }
    .nav.skinny ul li {
      height: 50px; }
    .nav.skinny .mob-nav {
      line-height: 50px; }
  .nav.fat {
    height: 90px; }
    .nav.fat .brand {
      line-height: 90px; }
      .nav.fat .brand img.logo {
        height: 45px; }
    .nav.fat .nav-options {
      line-height: 90px; }
    .nav.fat ul li {
      height: 90px; }
    .nav.fat .mob-nav {
      line-height: 90px; }
  .nav.dark {
    background-color: #2f2f2f;
    color: #ececec; }
    .nav.dark .nav-options button {
      background-color: #ececec;
      color: #2f2f2f; }
  .nav.light {
    background-color: #ececec;
    color: #2f2f2f; }
    .nav.light .nav-options button {
      background-color: #bbbbbb;
      color: #2f2f2f; }
  .nav.transparent {
    background-color: transparent;
    color: #2f2f2f; }
    .nav.transparent .nav-options button {
      background-color: #bbbbbb;
      color: #2f2f2f; }
  .nav .brand {
    line-height: 70px;
    text-transform: uppercase;
    transition: opacity 0.3s ease-in-out; }
    .nav .brand:hover {
      opacity: 0.75;
      cursor: pointer; }
    .nav .brand.float-left {
      margin-right: 15px; }
    .nav .brand.float-right {
      margin-left: 15px; }
    .nav .brand span {
      font-weight: 900; }
    .nav .brand img.logo {
      height: 35px;
      vertical-align: middle;
      margin-right: 10px; }
  .nav ul li {
    display: inline-block;
    height: 70px; }
    .nav ul li.nav-text {
      opacity: 0.5; }
    .nav ul li a {
      transition: opacity 0.3s ease-in-out; }
      .nav ul li a:hover {
        opacity: 0.75; }
  .nav .nav-options {
    line-height: 70px; }
    @media screen and (max-width: 768px) {
      .nav .nav-options {
        display: none; } }
    .nav .nav-options > li {
      padding: 0px 12px;
      margin-left: -5px; }
      .nav .nav-options > li.active {
        background-color: rgba(255, 255, 255, 0.25); }
      .nav .nav-options > li:first-of-type {
        padding-left: 0px; }
      .nav .nav-options > li:last-of-type {
        padding-right: 0px; }
    .nav .nav-options button {
      height: 50%;
      padding: 0px 20px;
      font-weight: 700;
      border: none;
      transition: all 0.3s ease-in-out; }
      .nav .nav-options button.full {
        height: 100%;
        transform: translate3d(0px, -1px, 0px); }
      .nav .nav-options button:hover {
        cursor: pointer;
        letter-spacing: 0.2em; }
    .nav .nav-options .dropdown {
      position: relative; }
      .nav .nav-options .dropdown:after {
        content: "▿";
        opacity: 0.5; }
      .nav .nav-options .dropdown:hover {
        cursor: pointer; }
        .nav .nav-options .dropdown:hover .dropdown-content {
          display: block; }
      .nav .nav-options .dropdown .dropdown-content {
        position: absolute;
        min-width: 200px;
        list-style: none;
        text-align: center;
        z-index: 99;
        font-size: 0.9em;
        display: none; }
        .nav .nav-options .dropdown .dropdown-content li {
          width: 100%;
          height: 100%; }
          .nav .nav-options .dropdown .dropdown-content li a {
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 0px 12px;
            transition: all 0.3s ease-in-out; }
            .nav .nav-options .dropdown .dropdown-content li a:hover {
              background-color: black;
              color: white;
              cursor: pointer; }
    .nav .nav-options.float-left.push-to-end {
      margin-left: -15px; }
    .nav .nav-options.float-left .dropdown .dropdown-content {
      left: 0px;
      text-align: left; }
    .nav .nav-options.float-right.push-to-end {
      margin-right: -15px; }
    .nav .nav-options.float-right .dropdown .dropdown-content {
      right: 0px;
      text-align: right; }
  .nav .mob-nav {
    display: none;
    line-height: 70px; }
    @media screen and (max-width: 768px) {
      .nav .mob-nav {
        display: block; } }
    .nav .mob-nav .mob-toggle {
      display: none; }
      .nav .mob-nav .mob-toggle:checked ~ .nav-options {
        display: block; }
      .nav .mob-nav .mob-toggle:checked ~ label .hamburger::before {
        display: none; }
      .nav .mob-nav .mob-toggle:checked ~ label .hamburger:after {
        display: block; }
    .nav .mob-nav .hamburger {
      font-size: 20pt;
      transition: opacity 0.3s ease-in-out; }
      .nav .mob-nav .hamburger:before {
        content: "☰"; }
      .nav .mob-nav .hamburger:after {
        content: "✕";
        display: none; }
      .nav .mob-nav .hamburger:hover {
        opacity: 0.75;
        cursor: pointer; }
    .nav .mob-nav ul.nav-options {
      display: none;
      width: 100vw;
      position: absolute;
      left: 0px;
      z-index: 99;
      background-color: #bbbbbb;
      color: black; }
      .nav .mob-nav ul.nav-options li {
        display: block;
        padding: 0px; }
        .nav .mob-nav ul.nav-options li a {
          width: 100%;
          height: 100%;
          display: inline-block;
          padding: 0px 65px;
          transition: all 0.3s ease-in-out; }
          .nav .mob-nav ul.nav-options li a:hover {
            background-color: black;
            color: white;
            cursor: pointer; }
