#container-pg #container h1 {
  text-align: center;
  margin-bottom: 20px; }
#container-pg #container .row:first-of-type .container {
  padding-bottom: 0px; }
#container-pg #container .container-example {
  background-color: #bbbbbb;
  transition: all 0.3s ease-in-out; }
  #container-pg #container .container-example:hover {
    background-color: #ababab;
    cursor: help; }
  #container-pg #container .container-example .container {
    background-color: #dedede;
    transition: all 0.3s ease-in-out; }
    #container-pg #container .container-example .container:hover {
      background-color: #cbcbcb;
      cursor: help; }

#grid-pg #grid h1 {
  text-align: center;
  margin-bottom: 20px; }
#grid-pg #grid .grid-option {
  margin-bottom: 50px; }
  #grid-pg #grid .grid-option .row {
    margin: 10px 0px; }
    #grid-pg #grid .grid-option .row:first-of-type {
      margin-top: 0px; }
    #grid-pg #grid .grid-option .row:last-of-type {
      margin-bottom: 0px; }
    #grid-pg #grid .grid-option .row .col {
      background-color: #dedede;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 7pt;
      letter-spacing: 2pt;
      text-align: center;
      justify-content: center;
      padding: 10px 0px;
      transition: all 0.3s ease-in-out; }
      #grid-pg #grid .grid-option .row .col:hover {
        background-color: #bbbbbb;
        cursor: help; }

#nav-pg #nav .nav {
  margin-bottom: 10px; }
  #nav-pg #nav .nav:first-of-type {
    margin-top: 0px; }
  #nav-pg #nav .nav:last-of-type {
    margin-bottom: 0px; }
    #nav-pg #nav .nav:last-of-type .nav-options {
      background-color: grey;
      color: white; }
  #nav-pg #nav .nav .dropdown .dropdown-content {
    background-color: #bbbbbb;
    color: #1d1d1d; }
