header#nav
    .nav.fat.uppercase.space.centered.transparent
        ul.nav-options
            li
                a(href="get-started.html") Get Started
            li
                a(href="about.html") About
        .brand
            a(href="index.html")
                img.logo(alt="", src="assets/img/icon.ico")
        ul.nav-options
            li
                a(href="components.html") Components
            li
                a(href="https://github.com/aaronconway7/Eden/releases/download/v1.1.7/eden.zip")
                    button.uppercase.space.skinny(type="button") Download
        
        .mob-nav.float-right
            input.mob-toggle#mob-toggle(type="checkbox", name="mob-toggle")
            label(for="mob-toggle")
                .bun.dark
                    .hamburger
                    .hamburger
                    .hamburger
            .sidebar.right
                .container
                    ul.nav-options
                        li
                            a(href="get-started.html") Get Started
                        li
                            a(href="about.html") About
                        li
                            a(href="components.html") Components
                        li
                            a(href="https://github.com/aaronconway7/Eden/releases/download/v1.1.7/eden.zip") Download
