doctype html
html(lang='en')
  head
    include ../include/head
    title Navbar by Eden.
    link(href='css/style.css', rel='stylesheet')
  body
    .universe#nav-pg
        #nav
            .nav.clear.skinny.dark
                .brand.float-left
                    a(href="index.html")
                        img.logo(alt="", src="images/icon.ico")
                        span brand
                ul.nav-options.float-left
                    li
                        a(href="#") option
                    li.dropdown option
                        ul.dropdown-content
                            li
                                a(href="#") dropdown option
                            li
                                a(href="#") dropdown option
                    li
                        a(href="#") option
                ul.nav-options.float-right
                    li.nav-text signed in as Aaron
                    li.dropdown option
                        ul.dropdown-content
                            li
                                a(href="#") dropdown option
                            li
                                a(href="#") dropdown option
                    li
                        a(href="#") option
                    li
                        a(href="#") option
                    li
                        a(href="#")
                            button.uppercase-and-space(type="button") Sign In
                
                .mob-nav.float-right
                    input.mob-toggle#mob-toggle(type="checkbox", name="mob-toggle")
                    label(for="mob-toggle")
                        .hamburger
                    ul.nav-options.text-center
                        li
                            a(href="#") option
                        li
                            a(href="#") option
                        li
                            a(href="#") option
                    
            .nav.fat.uppercase-and-space.centered.light
                ul.nav-options
                    li
                        a(href="#") option
                    li.dropdown option
                        ul.dropdown-content
                            li
                                a(href="#") dropdown option
                            li
                                a(href="#") dropdown option
                    li
                        a(href="#") option
                .brand
                    a(href="index.html")
                        img.logo(alt="", src="images/icon.ico")
                ul.nav-options
                    li
                        a(href="#") option
                    li.dropdown option
                        ul.dropdown-content
                            li
                                a(href="#") dropdown option
                            li
                                a(href="#") dropdown option
                    li
                        a(href="#") option
                
                .mob-nav.float-right
                    //- input.mob-toggle#mob-toggle(type="checkbox", name="mob-toggle")
                    label(for="mob-toggle")
                        .hamburger
                    ul.nav-options.text-center
                        li
                            a(href="#") option
                        li
                            a(href="#") option
                        li
                            a(href="#") option  
            
            .nav.clear.mobile.transparent
                .brand.float-left
                    a(href="index.html")
                        img.logo(alt="", src="images/icon.ico")
                        span brand
                .mob-nav.float-right
                    //- input.mob-toggle#mob-toggle(type="checkbox", name="mob-toggle")
                    label(for="mob-toggle")
                        .hamburger
                    ul.nav-options.text-center
                        li
                            a(href="#") option
                        li
                            a(href="#") option
                        li
                            a(href="#") option  
        
        section#content
            .container
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                br
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                br
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                br
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                br
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                br
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                br
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                br
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                br
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            
    // jQuery CDN script via google
    // <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
