doctype html
html(lang='en')
  head
    include ../include/head
    title Navbar by Eden.
    link(href='css/style.css', rel='stylesheet')
  body
    .universe#nav-pg
        #nav
            .nav.clear
                .brand.float-left
                    span brand
                ul.nav-options.float-left
                    li
                        a(href="#") option
                    li.dropdown option
                        ul.dropdown-content
                            li
                                a(href="#") dropdown option
                            li
                                a(href="#") dropdown option
                    li
                        a(href="#") option
                ul.nav-options.float-right
                    li
                        a(href="#") option
                    li
                        a(href="#") option
                    li
                        a(href="#") option
            
    // jQuery CDN script via google
    // <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
