doctype html
html(lang="en")
    head
        include ../include/head
        title="Eden"
        link(rel='stylesheet', href='css/temp.css')
    body
        .universe#home-pg
            include ../include/header
            .page-content
                section#hero
                    .hero.short.overlay-eden
                        .col.content
                            h1.uppercase-and-space The #1 Framework for
                            h1 Beautiful Design
            
            
