doctype html
html(lang='en')
  head
    include ../../include/head
    title Hero by Eden.
    link(href='../css/style.css', rel='stylesheet')
  body
    .universe#grid-pg
        #hero
            .hero.overlay.eden
                .col.content.center-center
                    h1 Eden Heroes
                    h2 .hero.overlay.eden
            .hero.overlay.dark.fat.short
                .col.content.center-center
                    h2 .hero.overlay.dark.fat.short
