@charset "UTF-8";
/* */
/* Eden. V1.0.0 */
/* Copyright 2016, Aaron Conway */
/* http://www.designofeden.com */
/* */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html.no-scroll, body.no-scroll {
  overflow: hidden;
  height: 100%; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear:before, .clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

:root {
  font-size: 12pt; }

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Source Sans Pro", "Lato", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 900; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3.5rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.5rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.5rem; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.uppercase-and-space {
  text-transform: uppercase;
  letter-spacing: 0.2em; }

.container {
  position: relative;
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  padding: 100px 0;
  box-sizing: border-box; }
  @media (max-width: 640px) {
    .container {
      width: 85%; } }
  @media (max-width: 425px) {
    .container {
      width: 80%; } }

.wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box; }

.center-center {
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.left-top {
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start; }

.right-bottom {
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: end;
      align-items: flex-end; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%; }
  .row.left-center {
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center; }
  .row.left-bottom {
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: end;
        align-items: flex-end; }
  .row.center-top {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: start;
        align-items: flex-start; }
  .row.center-bottom {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: end;
        align-items: flex-end; }
  .row.right-top {
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: start;
        align-items: flex-start; }
  .row.right-center {
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: center;
        align-items: center; }

.col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  margin-left: 4%; }
  .col:first-child {
    margin-left: 0; }
  .col.one {
    width: 4.66666666667%; }
  .col.two, .col.sixth {
    width: 13.3333333333%; }
  .col.three, .col.quarter {
    width: 22%; }
  .col.four, .col.third {
    width: 30.6666666667%; }
  .col.five {
    width: 39.3333333333%; }
  .col.six, .col.half {
    width: 48%; }
  .col.seven {
    width: 56.6666666667%; }
  .col.eight, .col.two-thirds {
    width: 65.3333333333%; }
  .col.nine, .col.three-quarters {
    width: 74.0%; }
  .col.ten, .col.five-sixths {
    width: 82.6666666667%; }
  .col.eleven {
    width: 91.3333333333%; }
  .col.twelve, .col.full {
    width: 100%;
    margin-left: 0; }
  @media screen and (max-width: 768px) {
    .col.tab-one {
      width: 4.66666666667% !important; }
    .col.tab-two, .col.tab-sixth {
      width: 13.3333333333% !important; }
    .col.tab-three, .col.tab-quarter {
      width: 22% !important; }
    .col.tab-four, .col.tab-third {
      width: 30.6666666667% !important; }
    .col.tab-five {
      width: 39.3333333333% !important; }
    .col.tab-six, .col.tab-half {
      width: 48% !important; }
    .col.tab-seven {
      width: 56.6666666667% !important; }
    .col.tab-eight, .col.tab-two-thirds {
      width: 65.3333333333% !important; }
    .col.tab-nine, .col.tab-three-quarters {
      width: 74.0% !important; }
    .col.tab-ten, .col.tab-five-sixths {
      width: 82.6666666667% !important; }
    .col.tab-eleven {
      width: 91.3333333333% !important; }
    .col.tab-twelve, .col.tab-full {
      width: 100% !important;
      margin-left: 0;
      margin-bottom: 3%; }
      .col.tab-twelve:last-of-type, .col.tab-full:last-of-type {
        margin-bottom: 0%; } }
  @media screen and (max-width: 425px) {
    .col.mob-one {
      width: 4.66666666667% !important; }
    .col.mob-two, .col.mob-sixth {
      width: 13.3333333333% !important; }
    .col.mob-three, .col.mob-quarter {
      width: 22% !important; }
    .col.mob-four, .col.mob-third {
      width: 30.6666666667% !important; }
    .col.mob-five {
      width: 39.3333333333% !important; }
    .col.mob-six, .col.mob-half {
      width: 48% !important; }
    .col.mob-seven {
      width: 56.6666666667% !important; }
    .col.mob-eight, .col.mob-two-thirds {
      width: 65.3333333333% !important; }
    .col.mob-nine, .col.mob-three-quarters {
      width: 74.0% !important; }
    .col.mob-ten, .col.mob-five-sixths {
      width: 82.6666666667% !important; }
    .col.mob-eleven {
      width: 91.3333333333% !important; }
    .col.mob-twelve, .col.mob-full {
      width: 100% !important;
      margin-left: 0;
      margin-bottom: 3%; }
      .col.mob-twelve:last-of-type, .col.mob-full:last-of-type {
        margin-bottom: 0%; } }
  .col.left-center {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: start;
        align-items: flex-start; }
  .col.left-bottom {
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: start;
        align-items: flex-start; }
  .col.center-top {
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center; }
  .col.center-bottom {
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: center;
        align-items: center; }
  .col.right-top {
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: end;
        align-items: flex-end; }
  .col.right-center {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: end;
        align-items: flex-end; }

@keyframes slideLeft {
  0% {
    transform: translate3d(100%, 0px, 0px); }
  100% {
    transform: none; } }

.nav {
  width: 100%;
  height: 70px;
  padding: 0px 15px;
  z-index: 98;
  font-size: 0.9rem; }
  .nav.padded {
    padding: 0px 10%; }
    @media screen and (max-width: 768px) {
      .nav.padded {
        padding: 0px 15px; } }
    .nav.padded .brand.float-left {
      margin-right: 3em; }
    .nav.padded .brand.float-right {
      margin-left: 3em; }
    .nav.padded .nav-options > li {
      padding: 0px 2em; }
  .nav.fixed {
    position: fixed !important;
    top: 0px; }
  .nav.centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    @media screen and (max-width: 768px) {
      .nav.centered {
        -ms-flex-pack: justify;
            justify-content: space-between; } }
    .nav.centered .nav-options > li {
      padding: 0px 20px !important; }
    .nav.centered .nav-options .dropdown .dropdown-content {
      left: -50%; }
  .nav.mobile {
    background-color: transparent;
    position: relative; }
    .nav.mobile .mob-nav {
      display: block; }
      .nav.mobile .mob-nav .mob-toggle {
        display: none; }
        .nav.mobile .mob-nav .mob-toggle:checked ~ .nav-options {
          display: -ms-flexbox;
          display: flex; }
          @media screen and (max-width: 768px) {
            .nav.mobile .mob-nav .mob-toggle:checked ~ .nav-options {
              display: block; } }
      .nav.mobile .mob-nav .nav-options {
        z-index: -1;
        -ms-flex-pack: center;
            justify-content: center;
        top: 0px; }
        @media screen and (max-width: 768px) {
          .nav.mobile .mob-nav .nav-options {
            top: auto; } }
  .nav.skinny {
    height: 50px;
    font-size: 0.8rem; }
    .nav.skinny .brand {
      line-height: 50px; }
      .nav.skinny .brand img.logo {
        height: 25px; }
    .nav.skinny .nav-options {
      line-height: 50px; }
      .nav.skinny .nav-options button {
        padding: 0.5em 1.5em; }
    .nav.skinny ul li {
      height: 50px; }
    .nav.skinny .mob-nav {
      line-height: 50px; }
  .nav.fat {
    height: 90px; }
    .nav.fat .brand {
      line-height: 90px; }
      .nav.fat .brand img.logo {
        height: 60px; }
    .nav.fat .nav-options {
      line-height: 90px; }
    .nav.fat ul li {
      height: 90px; }
    .nav.fat .mob-nav {
      line-height: 90px; }
  .nav.dark {
    background-color: #2f2f2f;
    color: #ececec; }
    .nav.dark .nav-options button {
      background-color: #ececec;
      color: #2f2f2f; }
    .nav.dark .nav-options .dropdown .dropdown-content {
      background-color: #bbbbbb;
      color: #2f2f2f; }
      .nav.dark .nav-options .dropdown .dropdown-content li a:hover {
        opacity: 1;
        background-color: #2f2f2f;
        color: #ececec; }
    .nav.dark .mob-nav .nav-options {
      background-color: #bbbbbb; }
      .nav.dark .mob-nav .nav-options li a:hover {
        opacity: 1;
        background-color: rgba(47, 47, 47, 0.75);
        color: #ececec; }
  .nav.light {
    background-color: #ececec;
    color: #2f2f2f; }
    .nav.light .nav-options button {
      background-color: #bbbbbb;
      color: #2f2f2f; }
    .nav.light .nav-options .dropdown .dropdown-content {
      background-color: #bbbbbb;
      color: #2f2f2f; }
      .nav.light .nav-options .dropdown .dropdown-content li a:hover {
        opacity: 1;
        background-color: #ececec;
        color: #2f2f2f; }
    .nav.light .mob-nav .nav-options {
      background-color: #bbbbbb; }
      .nav.light .mob-nav .nav-options li a:hover {
        opacity: 1;
        background-color: #ececec;
        color: #2f2f2f; }
  .nav.transparent {
    background-color: transparent;
    color: #2f2f2f; }
    .nav.transparent .nav-options button {
      background-color: #ececec;
      color: #2f2f2f; }
    .nav.transparent .nav-options .dropdown .dropdown-content {
      background-color: #ececec; }
      .nav.transparent .nav-options .dropdown .dropdown-content li a:hover {
        opacity: 1;
        background-color: #bbbbbb;
        color: #2f2f2f; }
    .nav.transparent .mob-nav .nav-options {
      background-color: #ececec; }
      .nav.transparent .mob-nav .nav-options li a:hover {
        opacity: 1;
        background-color: #bbbbbb;
        color: #2f2f2f; }
  .nav .brand {
    line-height: 70px;
    text-transform: uppercase;
    transition: opacity 0.3s ease-in-out; }
    .nav .brand:hover {
      opacity: 0.75;
      cursor: pointer; }
    .nav .brand.float-left {
      margin-right: 1.5em; }
    .nav .brand.float-right {
      margin-left: 1.5em; }
    .nav .brand span {
      font-weight: 900; }
    .nav .brand img.logo {
      height: 35px;
      vertical-align: middle;
      margin-right: 10px; }
  .nav ul li {
    display: inline-block;
    height: 70px; }
    .nav ul li.nav-text {
      opacity: 0.5; }
    .nav ul li a {
      transition: opacity 0.3s ease-in-out; }
      .nav ul li a:hover {
        opacity: 0.5; }
  .nav .nav-options {
    line-height: 70px; }
    @media screen and (max-width: 768px) {
      .nav .nav-options {
        display: none; } }
    .nav .nav-options > li {
      padding: 0px 1em;
      margin-left: -5px; }
      .nav .nav-options > li.active {
        background-color: rgba(255, 255, 255, 0.25); }
      .nav .nav-options > li:first-of-type {
        padding-left: 0px; }
      .nav .nav-options > li:last-of-type {
        padding-right: 0px; }
    .nav .nav-options button {
      padding: 1.5em 2em;
      border: none;
      transition: all 0.3s ease-in-out; }
      .nav .nav-options button.full {
        height: 100%;
        transform: translate3d(0px, -1px, 0px); }
      .nav .nav-options button.skinny {
        padding: 1em 2em; }
      .nav .nav-options button.fat {
        padding: 2em 2em; }
      .nav .nav-options button:hover {
        cursor: pointer;
        letter-spacing: 0.3em; }
    .nav .nav-options .dropdown {
      position: relative; }
      .nav .nav-options .dropdown:after {
        content: "▿";
        opacity: 0.5; }
      .nav .nav-options .dropdown:hover {
        cursor: pointer; }
        .nav .nav-options .dropdown:hover .dropdown-content {
          display: block; }
      .nav .nav-options .dropdown .dropdown-content {
        position: absolute;
        min-width: 200px;
        list-style: none;
        text-align: center;
        z-index: 99;
        font-size: 0.9em;
        display: none; }
        .nav .nav-options .dropdown .dropdown-content li {
          width: 100%;
          height: 100%; }
          .nav .nav-options .dropdown .dropdown-content li a {
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 0px 12px;
            transition: all 0.3s ease-in-out; }
            .nav .nav-options .dropdown .dropdown-content li a:hover {
              background-color: black;
              color: white;
              cursor: pointer; }
    .nav .nav-options.float-left.push-to-end {
      margin-left: -15px; }
    .nav .nav-options.float-left .dropdown .dropdown-content {
      left: 0px;
      text-align: left; }
    .nav .nav-options.float-right.push-to-end {
      margin-right: -15px; }
    .nav .nav-options.float-right .dropdown .dropdown-content {
      right: 0px;
      text-align: right; }
  .nav .mob-nav {
    display: none;
    line-height: 70px; }
    @media screen and (max-width: 768px) {
      .nav .mob-nav {
        display: block; } }
    .nav .mob-nav .mob-toggle {
      display: none; }
      .nav .mob-nav .mob-toggle:checked ~ .nav-options {
        display: block; }
      .nav .mob-nav .mob-toggle:checked ~ label .hamburger::before {
        display: none; }
      .nav .mob-nav .mob-toggle:checked ~ label .hamburger:after {
        display: block; }
    .nav .mob-nav .hamburger {
      font-size: 20pt;
      transition: opacity 0.3s ease-in-out; }
      .nav .mob-nav .hamburger:before {
        content: "☰"; }
      .nav .mob-nav .hamburger:after {
        content: "✕";
        display: none; }
      .nav .mob-nav .hamburger:hover {
        opacity: 0.75;
        cursor: pointer; }
    .nav .mob-nav ul.nav-options {
      display: none;
      width: 100vw;
      position: absolute;
      left: 0px;
      z-index: 99; }
      .nav .mob-nav ul.nav-options li {
        display: block;
        padding: 0px !important; }
        .nav .mob-nav ul.nav-options li a {
          width: 100%;
          height: 100%;
          display: inline-block;
          padding: 0px 65px;
          transition: all 0.3s ease-in-out; }
          .nav .mob-nav ul.nav-options li a:hover {
            color: white;
            cursor: pointer; }
    .nav .mob-nav.side .mob-toggle:checked ~ label .hamburger {
      transform: translate3d(-120px, 0px, 0px); }
    .nav .mob-nav.side .mob-toggle:checked ~ .sidebar {
      display: block; }
    .nav .mob-nav.side label .hamburger {
      transition: transform 1s ease-in-out; }
    .nav .mob-nav.side .sidebar {
      background-color: #2f2f2f;
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      width: 120px;
      padding: 30px;
      z-index: 99;
      display: none;
      animation: slideLeft 1s ease-in-out; }
      .nav .mob-nav.side .sidebar.is-open {
        animation: slideLeft 1s ease-in-out reverse; }
      .nav .mob-nav.side .sidebar .nav-options {
        display: block;
        background: none;
        width: auto;
        position: static;
        left: auto; }
        .nav .mob-nav.side .sidebar .nav-options li a {
          display: block;
          padding: 0px;
          width: auto;
          height: auto; }

.hero {
  height: 100vh;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .hero.short {
    height: 50vh; }
  .hero.tall {
    height: 75vh; }
  .hero.skinny {
    width: 50vw; }
  .hero.fat {
    width: 75vw; }
  @media screen and (max-width: 768px) {
    .hero.skinny, .hero.fat {
      width: 100vw; } }
  .hero.overlay {
    position: relative;
    z-index: 0; }
    .hero.overlay:after {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: -1; }
    .hero.overlay.dark:after {
      background-color: rgba(0, 0, 0, 0.75); }
    .hero.overlay.light:after {
      background-color: rgba(255, 255, 255, 0.75); }
    .hero.overlay.eden:after {
      background-color: rgba(82, 174, 118, 0.75); }

.button,
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  text-align: center;
  padding: 1em 3em;
  border-radius: 0.25em;
  outline: none;
  background-color: transparent;
  border: 0.1em solid #bbbbbb;
  color: #2f2f2f;
  white-space: nowrap;
  transition: all 0.3s ease-in-out; }
  .button:hover,
  button:hover {
    cursor: pointer;
    border-color: #2f2f2f; }
  .button.light,
  button.light {
    background-color: #ececec;
    color: #2f2f2f; }
    .button.light:hover,
    button.light:hover {
      background-color: #dfdfdf; }
  .button.dark,
  button.dark {
    background-color: #2f2f2f;
    color: #ececec; }
    .button.dark:hover,
    button.dark:hover {
      background-color: #3c3c3c; }
  .button.eden,
  button.eden {
    background-color: #52ae76;
    color: #ececec; }
    .button.eden:hover,
    button.eden:hover {
      background-color: #4a9d6a; }
  .button.short,
  button.short {
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
  .button.tall,
  button.tall {
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
  .button.skinny,
  button.skinny {
    padding-left: 2em;
    padding-right: 2em; }
  .button.fat,
  button.fat {
    padding-left: 4em;
    padding-right: 4em; }
  .button.no-border,
  button.no-border {
    border: none; }

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  display: none;
  overflow: auto; }
  .modal.is-open {
    display: block; }
  .modal.light > .content {
    background-color: #ececec;
    color: #2f2f2f; }
    .modal.light > .content > .close.outside {
      color: #ececec; }
  .modal.dark > .content {
    background-color: #2f2f2f;
    color: #ececec; }
    .modal.dark > .content > .close.outside {
      color: #2f2f2f; }
  .modal.eden > .content {
    background-color: #52ae76;
    color: #ececec; }
    .modal.eden > .content > .close.outside {
      color: #52ae76; }
  .modal.dark-bg {
    background-color: rgba(0, 0, 0, 0.75); }
  .modal.light-bg {
    background-color: rgba(255, 255, 255, 0.75); }
  .modal.eden-bg {
    background-color: rgba(82, 174, 118, 0.75); }
  .modal.shadow > .content {
    box-shadow: 0px 0px 100px -10px rgba(0, 0, 0, 0.75); }
  .modal.rounded > .content {
    border-radius: 7.5px; }
  .modal.border > .content {
    border: 1px solid black; }
  .modal.top > .content {
    margin: 0% auto 7.5% auto;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none; }
    .modal.top > .content > .close.outside {
      right: -1.5em;
      top: 0.5em; }
  .modal > .content {
    position: relative;
    width: 75%;
    margin: 7.6% auto; }
    .modal > .content > .close {
      position: absolute;
      opacity: 0.5;
      transition: all 0.3s ease-in-out; }
      .modal > .content > .close:hover {
        opacity: 1;
        cursor: pointer; }
      .modal > .content > .close.dark {
        color: #2f2f2f !important; }
      .modal > .content > .close.light {
        color: #ececec !important; }
      .modal > .content > .close.eden {
        color: #52ae76 !important; }
      .modal > .content > .close.inside {
        right: 15px;
        top: 12px;
        color: #ececec; }
      .modal > .content > .close.outside {
        right: -1.25em;
        top: -1.25em;
        color: #2f2f2f; }
      .modal > .content > .close.corner {
        right: -1em;
        top: -1em;
        background-color: black;
        border: 1px solid white;
        border-radius: 100%;
        color: white;
        width: 2em;
        height: 2em;
        text-align: center;
        opacity: 1;
        padding-top: 1px;
        transition: all 0.3s ease-in-out; }
        .modal > .content > .close.corner span {
          vertical-align: middle; }
        .modal > .content > .close.corner:hover {
          opacity: 0.75;
          cursor: pointer; }
      .modal > .content > .close.rotate {
        right: -2em;
        top: 1em;
        transform: rotate3d(0, 0, 1, 90deg); }

.code {
  padding: 2px 4px;
  background-color: #282c34;
  color: #ececec;
  font-family: monospace;
  margin-bottom: 50px; }
  .code:last-child {
    margin-bottom: 0px; }
  .code.light {
    background-color: #ececec;
    color: #2f2f2f; }
  .code.block {
    margin-top: 10px;
    position: relative;
    padding: 75px; }
    .code.block.short {
      padding: 50px; }
    @media screen and (max-width: 768px) {
      .code.block {
        padding: 25px !important;
        font-size: 0.8rem; } }
  .codespan {
    padding: 0px;
    margin: 0px; }
  .code .tab {
    margin: 1em 0em;
    margin-left: 2em; }
  .code .tag {
    color: #e06c75; }
    .code .tag:before, .code .tag:after {
      color: white; }
    .code .tag:before {
      content: "<"; }
    .code .tag:after {
      content: ">"; }
    .code .tag.close:before {
      content: "</"; }
    .code .tag .content {
      color: #a2a9b6; }
    .code .tag .attr {
      color: #cb9a66; }
      .code .tag .attr:after {
        content: "=";
        color: white; }
      .code .tag .attr.id {
        color: #3992ef; }
    .code .tag .val {
      color: #98c372;
      margin-right: 0.4em; }
      .code .tag .val:before {
        content: open-quote; }
      .code .tag .val:after {
        content: close-quote; }
      .code .tag .val:last-of-type {
        margin-right: 0px; }

.tool-tip {
  position: relative; }
  .tool-tip .tool-tip-text {
    visibility: hidden;
    display: inline-block;
    font-size: 0.9em;
    bottom: 100%;
    margin-bottom: 10px;
    left: 0px;
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    white-space: nowrap;
    position: absolute;
    z-index: 1; }
    .tool-tip .tool-tip-text.center {
      left: 50%;
      transform: translate3d(-50%, 0px, 0px); }
      .tool-tip .tool-tip-text.center:after {
        left: 50%; }
    .tool-tip .tool-tip-text.right {
      left: auto;
      right: 0px; }
      .tool-tip .tool-tip-text.right:after {
        left: auto;
        right: 10px; }
    .tool-tip .tool-tip-text.sharp {
      border-radius: 0px; }
    .tool-tip .tool-tip-text.short {
      padding-top: 0.25em;
      padding-bottom: 0.25em; }
    .tool-tip .tool-tip-text.tall {
      padding-top: 0.75em;
      padding-bottom: 0.75em; }
    .tool-tip .tool-tip-text.skinny {
      padding-left: 0.5em;
      padding-right: 0.5em; }
    .tool-tip .tool-tip-text.fat {
      padding-left: 1.5em;
      padding-right: 1.5em; }
    .tool-tip .tool-tip-text.dark {
      background-color: #2f2f2f;
      color: #ececec; }
      .tool-tip .tool-tip-text.dark:after {
        border-color: #2f2f2f transparent transparent transparent; }
    .tool-tip .tool-tip-text.light {
      background-color: #ececec;
      color: #2f2f2f; }
      .tool-tip .tool-tip-text.light:after {
        border-color: #ececec transparent transparent transparent; }
    .tool-tip .tool-tip-text.eden {
      background-color: #52ae76;
      color: #ececec; }
      .tool-tip .tool-tip-text.eden:after {
        border-color: #52ae76 transparent transparent transparent; }
    .tool-tip .tool-tip-text:after {
      content: " ";
      position: absolute;
      top: 100%;
      left: 10px;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent; }
  .tool-tip:hover {
    cursor: help; }
    .tool-tip:hover > .tool-tip-text {
      visibility: visible; }
