.thin {
  font-weight: 100; }

.bold {
  font-weight: 900; }

.reference {
  font-size: 0.7em;
  font-style: italic;
  margin-top: 20px; }

.section {
  font-size: 1.5rem; }
  .section .title {
    margin-bottom: 50px; }
  .section ul {
    line-height: 2em; }
  .section video {
    height: 70vh;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75); }
  .section img {
    max-height: 70vh;
    max-width: 100%; }
    .section img.shadow {
      box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75); }

header .nav {
  color: #eee !important; }
  header .nav .logo {
    height: 30px !important; }

#presentation {
  background-color: #eee; }
  #presentation .hero {
    background-image: url("../assets/img/presentation/hero1.jpg");
    background-attachment: fixed;
    color: #eee;
    position: relative; }
    #presentation .hero .scroll-down {
      position: absolute;
      bottom: 20px; }
      #presentation .hero .scroll-down a {
        font-weight: 900;
        opacity: 0.75;
        font-size: 0.6em; }
        #presentation .hero .scroll-down a:hover {
          opacity: 1; }
  #presentation #me .img {
    border-radius: 100%;
    min-height: 150px;
    min-width: 150px;
    background-image: url("../assets/img/presentation/me.jpg");
    background-position: top;
    margin-right: 50px; }
  #presentation #the-problem .bootstrap-slide {
    background-color: #563d7c; }
    #presentation #the-problem .bootstrap-slide img {
      border: 1px solid #eee;
      border-radius: 15px; }
  #presentation #the-problem .skeleton-slide {
    background-color: white; }
    #presentation #the-problem .skeleton-slide h1 {
      font-family: Raleway;
      font-weight: 100; }
  #presentation #the-solution img.eden {
    height: 150px;
    background-color: transparent; }
  #presentation #the-solution .eden-slide {
    background-color: #52ae76;
    color: #eee; }
    #presentation #the-solution .eden-slide img {
      height: 100px;
      margin-right: 10px; }
  #presentation #methodology .img {
    background-image: url("../assets/img/presentation/code.jpg"); }
  #presentation #methodology .facts {
    padding-left: 100px; }
    #presentation #methodology .facts .fact {
      margin-bottom: 75px; }
      #presentation #methodology .facts .fact:last-of-type {
        margin-bottom: 0px; }
    #presentation #methodology .facts .bold {
      font-weight: 900; }
    #presentation #methodology .facts hr {
      opacity: 0.2; }
  #presentation #methodology .sass-slide {
    background-color: #cc6699; }
    #presentation #methodology .sass-slide img {
      height: 300px; }
  #presentation #methodology .pug-slide {
    background-color: #a86454; }
  #presentation #methodology .jquery-slide {
    background-color: #0769ad; }
  #presentation #methodology .gulp-slide {
    background-color: #e84c50; }
  #presentation #case-study iframe {
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75); }
  #presentation #case-study .logos img {
    height: 50px;
    margin-right: 50px;
    opacity: 0.5; }
    #presentation #case-study .logos img.ndorsa {
      opacity: 0.3; }
    #presentation #case-study .logos img:last-of-type {
      margin-right: 0px; }
  #presentation #project-management .github-graphs img {
    border-radius: 5px;
    border: 1px solid #bbbbbb; }
    #presentation #project-management .github-graphs img:first-of-type {
      margin-bottom: 10px; }
  #presentation #project-management .slide.trello {
    background-color: #026aa7; }
    #presentation #project-management .slide.trello .logo {
      height: 100px; }

footer p {
  opacity: 0.75;
  margin-right: 10px;
  font-size: 0.8rem; }
  footer p a {
    font-weight: 400;
    transition: all 0.3s ease-in-out; }
    footer p a:hover {
      color: #418c5e; }

footer object {
  height: 30px; }
