#container-pg #container h1 {
  text-align: center;
  margin-bottom: 20px; }

#container-pg #container .row:first-of-type .container {
  padding-bottom: 0px; }

#container-pg #container .container-example {
  background-color: #bbbbbb;
  transition: all 0.3s ease-in-out; }
  #container-pg #container .container-example:hover {
    background-color: #ababab;
    cursor: help; }
  #container-pg #container .container-example .container {
    background-color: #dedede;
    transition: all 0.3s ease-in-out; }
    #container-pg #container .container-example .container:hover {
      background-color: #cbcbcb;
      cursor: help; }

#grid-pg #grid h1 {
  text-align: center;
  margin-bottom: 20px; }

#grid-pg #grid .grid-option {
  margin-bottom: 50px; }
  #grid-pg #grid .grid-option .row {
    margin: 10px 0px; }
    #grid-pg #grid .grid-option .row:first-of-type {
      margin-top: 0px; }
    #grid-pg #grid .grid-option .row:last-of-type {
      margin-bottom: 0px; }
    #grid-pg #grid .grid-option .row .col {
      background-color: #dedede;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 7pt;
      letter-spacing: 2pt;
      text-align: center;
      -ms-flex-pack: center;
          justify-content: center;
      padding: 10px 0px;
      transition: all 0.3s ease-in-out; }
      #grid-pg #grid .grid-option .row .col:hover {
        background-color: #bbbbbb;
        cursor: help; }

#nav-pg .page-container {
  transition: margin-left 0.3s ease-in-out, margin-right 0.3s ease-in-out; }

#nav-pg .nav .mob-nav {
  display: block; }

#form-pg form {
  width: 300px; }
  #form-pg form input, #form-pg form textarea, #form-pg form select {
    margin-bottom: 20px; }

#animations-pg {
  height: 5000px; }
  #animations-pg #animations .boxes {
    margin-bottom: 20px; }
  #animations-pg #animations .box {
    background-color: grey;
    height: 100px; }
  #animations-pg #animations p {
    margin-bottom: 50px; }
    #animations-pg #animations p:last-of-type {
      margin-bottom: 0px; }

#hero-pg {
  height: 9999px; }
  #hero-pg #hero .hero:nth-of-type(1) {
    background-image: url("http://cdn29.us1.fansshare.com/pictures/tumblrphotography/tumblr-static-tumblrbg-beautiful-756022492.jpg");
    margin-bottom: 500px; }
  #hero-pg #hero .hero:nth-of-type(2) {
    background-image: url("https://www.clipartsgram.com/image/278747608-beautiful-city-wallpaper-hd-background-tumblr-wallpaper-photography-tumblr-314777781.jpg"); }

#slider-pg .slider .slide:nth-of-type(1) {
  background-color: red; }

#slider-pg .slider .slide:nth-of-type(2) {
  background-color: green; }

#slider-pg .slider .slide:nth-of-type(3) {
  background-color: blue; }

#lightbox-pg {
  height: 200vh; }
  #lightbox-pg #lightbox .lightbox > img {
    height: 100px;
    margin: 10px; }
    #lightbox-pg #lightbox .lightbox > img:hover {
      opacity: 0.7; }
  #lightbox-pg #lightbox .lightbox .modal .content .active-img .caption {
    color: white; }
  #lightbox-pg #lightbox .lightbox .modal .content .active-img .slider-control {
    color: white; }
    #lightbox-pg #lightbox .lightbox .modal .content .active-img .slider-control:hover {
      opacity: 0.75; }

#image-overlay-pg #image-overlay .img-overlay {
  display: inline-block;
  cursor: pointer; }
  #image-overlay-pg #image-overlay .img-overlay.on-hover:after, #image-overlay-pg #image-overlay .img-overlay.on-hover .content {
    transition: all 0.5s ease; }
  #image-overlay-pg #image-overlay .img-overlay.on-hover.fade:after, #image-overlay-pg #image-overlay .img-overlay.on-hover.fade .content {
    opacity: 0; }
  #image-overlay-pg #image-overlay .img-overlay.on-hover.fade:hover:after, #image-overlay-pg #image-overlay .img-overlay.on-hover.fade:hover .content {
    opacity: 1; }
  #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-right:hover:after, #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-right:hover .content, #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-left:hover:after, #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-left:hover .content, #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-up:hover:after, #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-up:hover .content, #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-down:hover:after, #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-down:hover .content {
    transform: none; }
  #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-right:after, #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-right .content, #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-left:after, #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-left .content {
    transform: scale3d(0, 1, 1); }
  #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-up:after, #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-up .content, #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-down:after, #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-down .content {
    transform: scale3d(1, 0, 1); }
  #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-right:after, #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-right .content {
    transform-origin: left; }
  #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-left:after, #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-left .content {
    transform-origin: right; }
  #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-up:after, #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-up .content {
    transform-origin: bottom; }
  #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-down:after, #image-overlay-pg #image-overlay .img-overlay.on-hover.slide-down .content {
    transform-origin: top; }
  #image-overlay-pg #image-overlay .img-overlay .content {
    position: absolute;
    left: 0px;
    top: 0px;
    color: white;
    z-index: 1; }
  #image-overlay-pg #image-overlay .img-overlay:after {
    z-index: 0;
    height: 99%; }

#responsive-media-pg .responsive-media {
  margin-bottom: 10px; }

#responsive-media-pg .responsive-media {
  padding-top: 56.25%;
  position: relative; }
  #responsive-media-pg .responsive-media iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%; }
