@import 'https://fonts.googleapis.com/css?family=Pacifico'

$eden-light-green: rgb(98, 180, 128)
$tab-screen: 768px

.curly
    font-family: Pacifico

#nav
    margin: 25px 0px

    .nav

        &>.nav-options

            &>li
                padding: 0px 35px !important

.hero
    background-image: url(../img/photo-1444798188341-13aa3650c7db.jpg)

    .content
        color: white

        h1

            &:nth-of-type(2)
                font-family: Pacifico
                text-transform: lowercase
                font-size: 3.5rem

#about

    h1
        font-size: 2rem
        font-weight: 300
        margin-bottom: 20px

    span.curly
        color: $eden-light-green

    p
        margin-bottom: 50px

    .icons

        img
            height: 100px
