<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../assets/img/icon.ico">
    <!-- Eden Stylesheet-->
    <link href="../css/eden.css" rel="stylesheet">
    <title>Container by Eden.</title>
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="button-pg" class="universe">
      <div id="button">
        <div class="container">
          <button type="button" class="transparent rounded border uppercase-and-space">Standard</button>
          <button type="button" class="light">Light</button>
          <button type="button" class="dark">Dark</button>
          <button type="button" class="rounded eden no-border shadow">Eden</button>
          <button type="button" class="border uppercase-and-space">Eden</button><a href="#" class="button transparent rounded border uppercase-and-space">Standard</a><a href="#" class="button dark">Dark</a>
        </div>
      </div>
    </div>
  </body>
</html>