<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../assets/img/icon.ico">
    <!-- Eden Stylesheet-->
    <link href="../css/eden.css" rel="stylesheet">
    <title>Form by Eden.</title>
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="form-pg" class="universe">
      <div id="typograpformhy">
        <div class="container">
          <form class="col">
            <input type="text" placeholder="test" class="skinny rounded light border-bottom">
            <input type="number" class="border">
            <textarea class="border"></textarea>
            <input type="submit" class="eden">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>