<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../assets/img/icon.ico">
    <!-- Eden Stylesheet-->
    <link href="../css/eden.css" rel="stylesheet">
    <title>Hero by Eden.</title>
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="hero-pg" class="universe">
      <div id="hero">
        <div class="hero parallax">
          <div class="row content center-center">
            <h1>Eden Heroes</h1>
          </div>
        </div>
        <div class="hero overlay dark fat short parallax">
          <div class="col content center-center">
            <h2>.hero.overlay.dark.fat.short</h2>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/eden.js"></script>
    <script src="../js/function.js"></script>
  </body>
</html>