<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../assets/img/icon.ico">
    <!-- Eden Stylesheet-->
    <link href="../css/eden.css" rel="stylesheet">
    <title>Lightbox by Eden.</title>
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="lightbox-pg" class="universe">
      <div id="lightbox">
        <div class="container">
          <h1 class="text-center">Lightbox.</h1>
          <div class="lightbox row wrap"><img src="http://www.placecage.com/1200/700" alt="">
            <p class="caption">lol</p><img src="http://www.placecage.com/200/500" alt="">
            <p class="caption">Nicholas Cage</p><img src="http://www.placecage.com/1280/720" alt=""><img src="http://www.placecage.com/650/1200" alt="">
          </div>
        </div>
      </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/eden.js"></script>
    <script src="../js/function.js"></script>
  </body>
</html>