<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../assets/img/icon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/0fee7aa685.css" media="all">
    <!-- Eden Stylesheet-->
    <link href="../css/eden.css" rel="stylesheet">
    <title>Table by Eden.</title>
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="table-pg" class="universe">
      <div id="table">
        <div class="container">
          <h1 class="text-center">Table.</h1>
          <div class="table">
            <div class="table-heading dark">
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
            </div>
            <div class="table-body light striped">
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
            </div>
          </div>
          <div class="table border">
            <div class="table-heading">
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
            </div>
            <div class="table-body transparent">
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
            </div>
          </div>
          <div class="table row-border">
            <div class="table-heading">
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
            </div>
            <div class="table-body dark striped">
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
            </div>
          </div>
          <div class="table col-border">
            <div class="table-heading light">
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
            </div>
            <div class="table-body light">
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
              <div class="table-row">
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
                <div class="table-cell">.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/eden.js"></script>
    <script src="../../js/function.js"></script>
  </body>
</html>