<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../assets/img/icon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/0fee7aa685.css" media="all">
    <!-- Eden Stylesheet-->
    <link href="../css/eden.css" rel="stylesheet">
    <title>Video by Eden.</title>
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="video-pg" class="universe">
      <div id="video">
        <div class="row">
          <div class="video overlay">
            <video>
              <source type="video/mp4" src="../assets/video/VID-20150829-WA0011.mp4">
            </video>
            <div class="content row center-center"><span class="transition play">Play</span><span class="transition pause">Pause</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/eden.js"></script>
    <script src="../../js/function.js"></script>
  </body>
</html>