// Buttons
// ––––––––––––––––––––––––––––––––––––––––––––––––––

button, .button
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none
    display: inline-block
    text-align: center
    padding: 1em 3em
    outline: none
    border: none
    transition: all 0.3s ease-in-out
    background-color: $eden-green
    color: $eden-light-grey

    &:hover
        cursor: pointer
        background-color: darken($eden-green, 5)

    &.border
        border: 0.1em solid $eden-charcoal

    &.light

        &:hover
            background-color: darken($eden-light-grey, 5)

    &.dark

        &:hover
            background-color: lighten($eden-charcoal, 5)

        &.border
            border: 0.1em solid $eden-light-grey

    &.transparent

        &:hover
            background-color: $eden-light-grey



    &.short
        padding-top: 0.5em
        padding-bottom: 0.5em

    &.tall
        padding-top: 1.5em
        padding-bottom: 1.5em

    &.skinny
        padding-left: 2em
        padding-right: 2em

    &.fat
        padding-left: 4em
        padding-right: 4em

    &.rounded
        border-radius: 0.25em

    &.shadow
        box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75)
