button
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none
    display: inline-block
    text-align: center
    padding: 1em 3em
    outline: none
    border: none
    transition: all 0.3s ease-in-out

    &:hover
        cursor: pointer

    &.light
        background-color: $eden-light-grey
        color: $eden-charcoal

        &:hover
            background-color: darken($eden-light-grey, 5)

    &.dark
        background-color: $eden-charcoal
        color: $eden-light-grey

        &:hover
            background-color: lighten($eden-charcoal, 5)

    &.eden
        background-color: $eden-green
        color: $eden-light-grey

        &:hover
            background-color: darken($eden-green, 5)

    &.transparent
        background-color: transparent
        color: $eden-charcoal

        &:hover
            background-color: $eden-light-grey

    &.short
        padding-top: 0.5em
        padding-bottom: 0.5em

    &.tall
        padding-top: 1.5em
        padding-bottom: 1.5em

    &.skinny
        padding-left: 2em
        padding-right: 2em

    &.fat
        padding-left: 4em
        padding-right: 4em

    &.border
        border: 0.1em solid $eden-dark-grey

    &.rounded
        border-radius: 0.25em

    &.shadow
        box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75)
