.collapsible

    .panel

        &.is-open

            .content
                padding: 20px 0px

    .show-content
        display: block
        width: 100%
        cursor: pointer

    .content
        padding: 0
        max-height: 0
        overflow: hidden
        transition: all 0.3s ease-in
