// Footer
// ––––––––––––––––––––––––––––––––––––––––––––––––––

footer
    background-color: $eden-green
    padding: 10px 50px
    font-size: 0.9rem

    &.fixed
        position: fixed
        width: 100%
        bottom: 0px

    &.padded
        padding: 10px 100px

    &.short
        height: 100px

    &.tall
        height: 300px
