// Lists
// ––––––––––––––––––––––––––––––––––––––––––––––––––

ul, ol

    &.indent
        list-style-position: inside

    li
        margin-bottom: 0.5em

        &:last-of-type
            margin-bottom: 0px

ul
    list-style: none

    &.bullet
        list-style: initial
    &.inline

        li
            display: inline-block
            margin-bottom: 0px
            margin-right: 0.5em

            &:last-of-type
                margin-right: 0px
