\:root
    font-size: 12pt

*
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

body
    font-family: "Source Sans Pro", "Lato", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight: 300
    line-height: 1.6

h1, h2, h3, h4, h5, h6
    font-weight: 900

h1
    font-size: 4rem
h2
    font-size: 3.5rem
h3
    font-size: 3rem
h4
    font-size: 2.5rem
h5
    font-size: 2rem
h6
    font-size: 1.5rem

.text-left
    text-align: left

.text-center
    text-align: center

.text-right
    text-align: right

.text-justify
    text-align: justify

.uppercase
    text-transform: uppercase

.lowercase
    text-transform: lowercase

.uppercase-and-space
    text-transform: uppercase
    letter-spacing: 0.2em
