// Grid
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.row
    display: flex
    flex-wrap: wrap
    height: 100%

    &.center-center
        justify-content: center
        align-items: center

    &.left-top
        justify-content: flex-start
        align-items: flex-start

    &.right-bottom
        justify-content: flex-end
        align-items: flex-end

.col-1, .col-1-12, .col-2, .col-1-6, .col-2-12, .col-3, .col-1-4, .col-3-12, .col-4, .col-1-3, .col-4-12, .col-5, .col-5-12, .col-6, .col-1-2, .col-6-12, .col-7, .col-7-12, .col-8, .col-2-3, .col-8-12, .col-9, .col-3-4, .col-9-12, .col-10, .col-5-6, .col-10-12, .col-11, .col-11-12, .col-12, .col-12-12
    display: flex
    flex-direction: column
    width: 100%
    margin-left: 4%

    @import include/col

.col
    display: flex
    flex-direction: column
    width: 100%
    margin-left: 4%

    &.one, &.one-twelfth, &-1, &-1-12
        width: 4.66666666667%

    &.two, &.one-sixth, &.two-twelfths, &-2, &-1-6, &-2-12
        width: 13.3333333333%

    &.three, &.one-quarter, &.three-twelfths, &-3, &-1-4, &-3-12
        width: 22%

    &.four, &.one-third, &.four-twelfths, &-4, &-1-3, &-4-12
        width: 30.6666666667%

    &.five, &.five-twelfths, &-5, &-5-12
        width: 39.3333333333%

    &.six, &.half, &.one-half, &.six-twelfths, &-6, &-1-2, &-6-12
        width: 48%

    &.seven, &.seven-twelfths, &-7, &-7-12
        width: 56.6666666667%

    &.eight, &.two-thirds, &.eight-twelfths, &-8, &-2-3, &-8-12
        width: 65.3333333333%

    &.nine, &.three-quarters, &.nine-twelfths, &-9, &-3-4, &-9-12
        width: 74.0%

    &.ten, &.five-sixths, &.ten-twelfths, &-10, &-5-6, &-10-12
        width: 82.6666666667%

    &.eleven, &.eleven-twelfths, &-11, &-11-12
        width: 91.3333333333%

    &.twelve, &.full, &.whole, &.twelve-twelfths, &-12, &-12-12
        width: 100%
        margin-left: 0

    @import include/col

    &.left-center
        justify-content: center
        align-items: flex-start

    &.left-bottom
        justify-content: flex-end
        align-items: flex-start

    &.center-top
        justify-content: flex-start
        align-items: center

    &.center-bottom
        justify-content: flex-end
        align-items: center

    &.right-top
        justify-content: flex-start
        align-items: flex-end

    &.right-center
        justify-content: center
        align-items: flex-end
