@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900'

*
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

html
    font-family: "Lato", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight: 300

h1, h2, h3, h4, h5, h6
    font-weight: 900
