<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../assets/img/icon.ico">
    <!-- Eden Stylesheet-->
    <link href="../css/eden.css" rel="stylesheet">
    <title>Grid by Eden.</title>
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="grid-pg" class="universe">
      <div id="grid">
        <div class="container">
          <h1>The Eden Grid.</h1>
          <div class="grid-option">
            <div class="row">
              <div class="col one mob-half tab-eight"></div>
              <div class="col eleven mob-half tab-four"></div>
            </div>
            <div class="row">
              <div class="col two mob-full"></div>
              <div class="col ten mob-full"></div>
            </div>
            <div class="row">
              <div class="col three"></div>
              <div class="col nine"></div>
            </div>
            <div class="row">
              <div class="col four"></div>
              <div class="col eight"></div>
            </div>
            <div class="row">
              <div class="col five tab-two"></div>
              <div class="col seven tab-ten"></div>
            </div>
            <div class="row">
              <div class="col six"></div>
              <div class="col six"></div>
            </div>
            <div class="row">
              <div class="col"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery CDN script via google-->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
  </body>
</html>