doctype html
html(lang="en")
    head
        include include/head
        title="Eden | About"
        link(rel='stylesheet', href='css/temp.css')
    body
        .universe#about-pg
            include include/header
            .page-container
                .hero.short
                .container
                    h5.uppercase-and-space.text-center About
                    hr.skinny.center
                    p.quote.text-center "Design is not just what it looks like and feels like. Design is how it works."
                    p.quote-author Steve Jobs
                    .about-content
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .keywords
                    .container
                        hr.center
                        h2.text-center Beautiful.
                        p.text-center lorem ipsum.
                        hr.center
                        h2.text-center Unique.
                        p.text-center lorem ipsum.
                        hr.center
                        h2.text-center Responsive.
                        p.text-center lorem ipsum.
                        hr.center
                        h2.text-center Minimilist.
                        p.text-center lorem ipsum.
                        hr.center
                        h2.text-center Personal.
                        p.text-center lorem ipsum.
                        hr.center
                    .img.bg-center
                .about-me
                    .container
                        h5.curly Let me introduce myself...
                        .row.mob-col
                            .col.third.mob-full
                                .img.bg-center
                                //- img(src="assets/img/me.jpg", alt="")
                            .col.two-thirds.mob-full
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            include include/footer
