doctype html
html(lang="en")
    head
        include include/head
        title="Eden | About"
        link(rel='stylesheet', href='css/temp.css')
    body
        .universe#about-pg
            include include/header
            .page-container
                .hero.short
                .container
                    h5.uppercase-and-space.text-center About
                    hr.skinny.center
                    p.quote.text-center "Design is not just what it looks like and feels like. Design is how it works."
                    p.quote-author Steve Jobs
                    .about-content
                        p Eden is a front-end web framework focused on beautiful design and unique web development. There are so many similar and let's be honest, just damn right ugly wesbites around nowadays. We want to put a change to this and in the words of Michael Jackson, make the internet a better place. At least I think that's what he said. More importantly, Eden is built with you in mind, from personal experience gained over the years.
                        p Eden was developed as a 3rd year computer sceince project at The University of Warwick over the 2016/17 academic year. The entire framework is built using SASS compiled into CSS and jQuery.
                        p The name Eden is inspired by The Garden of Eden from the Book of Genesis in the Bible. The garden is often reffered to as Paradise and heavily asaociated with beauty and creation which is what Eden is all about. Creating beauty. It also refers to the Garden of Eden being the foundation and start of the Bible and humanity through Adam & Eve. Fron-end frameworks such as Eden provide the base and foundation to start your web project.
                        p The main purpose of Eden is to easily allow users to design, build and develop beautiful looking websites that are unlike any other. With it's component set, the most modern and popular elements seen in websites should be easily replicable and customisable. Even though it is a complex system with thousands of styles it is built to be changed and we encourage users to further add their own styles to give tehir own look and feel.
                .keywords
                    .container
                        hr.center
                        h2.text-center Beautiful.
                        p.text-center create beautful looking websites.
                        hr.center
                        h2.text-center Unique.
                        p.text-center make your wesbsite stand out from the crowd.
                        hr.center
                        h2.text-center Responsive.
                        p.text-center no matter what device.
                        hr.center
                        h2.text-center Minimilist.
                        p.text-center simple, easy to use.
                        hr.center
                        h2.text-center Personal.
                        p.text-center give it your own look and feel.
                        hr.center
                    .img.bg-center
                .about-me
                    .container
                        h5.curly Let me introduce myself...
                        .row.mob-col
                            .col.third.mob-full
                                .img.bg-center
                                //- img(src="assets/img/me.jpg", alt="")
                            .col.two-thirds.mob-full
                                p Hi, I'm Aaron. I'm from Essex. I'm a 3rd year Computer Sceicne Student at The University of Warwick. I'm a freelance deigner and web developer. I'm a massive Manchester United fan.
                                p That's pretty much all you need to know about me tbh.
            include include/footer
