doctype html
html(lang="en")
    head
        include include/head
        title="Eden | Get Started"
        link(rel='stylesheet', href='css/temp.css')
    body
        .universe#get-started-pg
            include include/header
            .page-container
                .hero.short
                    .content.row.left-bottom.overlay.dark
                        .container
                            h5 "The secret of getting ahead 
                            h5 is getting started."
                            p.quote-author Mark Twain
                .get-started
                    .container
                        h5.uppercase-and-space.text-center Get Started
                        hr.skinny.center
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            
            include include/footer
