doctype html
html(lang="en")
    head
        include include/head
        title="Eden Parallax"
        link(rel='stylesheet', href='css/examples.css')
    body#parallax-pg
        main
            .hero
                .row.content.center-center.fill-y
                    h1.uppercase.space Parallax.
        include include/foot
        script(src="js/pages/parallax.js")
