doctype html
html(lang="en")
    head
        include include/head
        title="Eden Presentation by Aaron Conway"
        link(rel='stylesheet', href='css/presentation.css')
        link(rel='stylesheet', href='css/jquery.fullpage.css')
    body
        header
            .nav.clear.fixed.transparent.padded.tall
                .brand.float-left
                    img.logo(alt="Eden", src="assets/img/eden.png")
                    span Eden.
        main#presentation
            #fullpage
                .hero.overlay.section
                    .content.row.left-center.fill-y
                        .col
                            .container
                                h1.thin CS310 Third Year Project
                                h6.name.uppercase.space Aaron Conway
                    .row.scroll-down.fill-x.center-center
                        a.transition(href="#me") keep scrollling <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                #me.section
                    .slide
                        .container
                            h4.title.thin A little bit about myslef...
                            .row.left-center
                                .img.dark.bg-center
                                ul.bullet
                                    li My name is Aaron Conway
                                    li I'm a pure CS student
                                    li I'm a freelance designer and front-end web developer
                    .slide
                        .container
                            .row.center-center
                                img(src="assets/img/presentation/moneywise.png", alt="MoenywiseQuoteMe Website")
                    .slide
                        .container
                            .row.center-center
                                img(src="assets/img/presentation/tutorial.png", alt="Tutorial Website")
                    .slide
                        .container
                            .row.center-center
                                img(src="assets/img/presentation/lush-heat.png", alt="Lush Heat Treatment Website")
                    .slide
                        .container
                            .row.center-center
                                img(src="assets/img/presentation/fdis.png", alt="FDIS Website")
                    .slide
                        .container
                            .row.center-center
                                img.shadow(src="assets/img/presentation/fdis-logo.jpg", alt="FDIS Logo")
                    .slide
                        .container
                            .row.center-center
                                img.shadow(src="assets/img/presentation/raw.jpg", alt="RAW Logo")
                    .slide
                        .container
                            .row.center-center
                                img(src="assets/img/presentation/theboar.png", alt="The Boar")
                #the-problem.section
                    .slide
                        .container
                            h4.title.thin The Problem.
                            .table
                                .table-heading.transparent
                                    .table-row
                                        .table-cell Personal
                                        .table-cell General
                                .table-body.transparent
                                    .table-row
                                        .table-cell 
                                            ul.bullet
                                                li Re-typing common pieces of code
                                                li Lengthy (mundane) process
                                        .table-cell
                                            ul.bullet
                                                li Prioritising design over functionality
                                                li Poorly designed websites
                                                li Similarity of websites
                    .slide.bootstrap-slide
                        .container
                            .row.center-center
                                img(src="assets/img/presentation/bootstrap.svg", alt="Bootstrap")
                    .slide.skeleton-slide
                        .container
                            .row.center-center
                                h1 Skeleton
                                    
                #the-solution.section
                    .slide
                        .container
                            h4.title.thin The Solution...
                    .slide.eden-slide
                        .container
                            .row.center-center
                                img.logo(alt="Eden", src="assets/img/eden.png")
                                h3.thin Eden.
                    .slide.eden-slide
                        .container
                            h4.thin The #[span.bold front-end framework] for beautiful design.
                    .slide.eden-slide
                        .container
                            .row.center-center
                                video(data-autoplay, loop)
                                    source(data-src="assets/video/presentation/components.mp4", type="video/mp4")
                #methodology.section
                    .slide
                        .container
                            h4.title.thin How was Eden built?
                    .slide
                        .container
                            .row.center-center
                                img(src="assets/img/presentation/uml.svg", alt="UML")
                    .slide.research
                        .row.fill-y.fluid
                            .col
                                .content.row.center-center.fill-y.facts
                                    .container
                                        h4.title.thin Research
                                        .fact
                                            h6.thin Self Knowledge
                                            hr.quarter
                                            p.bold Experience
                                        .fact
                                            h6.thin Existing Software
                                            hr.quarter
                                            p.bold Bootstrap, Skeleton, Foundation, Pure
                                        .fact
                                            h6.thin Tools
                                            hr.quarter
                                            p.bold Sass, Jade/Pug, Gulp
                            .col
                                .img.fill-y.bg-center
                    .slide.design
                        .row.fill-y.fluid
                            .col
                                .content.row.center-center.fill-y.facts
                                    .container
                                        h4.title.thin Design
                                        .fact
                                            h6.thin Sketches
                                            hr.quarter
                                            p.bold Drawing out designs for potential components
                                        .fact
                                            h6.thin Mockups
                                            hr.quarter
                                            p.bold Photoshop
                                        .fact
                                            h6.thin Faster Development
                                            hr.quarter
                                            p.bold Already know what I want to produce
                            .col
                                .img.fill-y.bg-center
                    .slide.coding
                        .row.fill-y.fluid
                            .col
                                .content.row.center-center.fill-y.facts
                                    .container
                                        h4.title.thin Development
                                        .fact
                                            h6.thin Pre-processing
                                            hr.quarter
                                            p.bold Jade/Pug, SASS, JQuery
                                        .fact
                                            h6.thin Compilation
                                            hr.quarter
                                            p.bold Jade/Pug -> HTML, SASS -> CSS
                                        .fact
                                            h6.thin Optimisation
                                            hr.quarter
                                            p.bold Minifing Files
                            .col
                                .img.fill-y
                    .slide.sass-slide
                        .container
                            .row.center-center
                                img(alt="Sass", src="assets/img/presentation/sass.png")
                    .slide.pug-slide
                        .container
                            .row.center-center
                                img(alt="Pug", src="assets/img/presentation/pug.svg")
                    .slide.jquery-slide
                        .container
                            .row.center-center
                                img(alt="JQuery", src="assets/img/presentation/jquery.png")
                    .slide.gulp-slide
                        .container
                            .row.center-center
                                img(alt="Gulp", src="assets/img/presentation/gulp.jpg")
                    .slide.coding
                        .row.fill-y.fluid
                            .col
                                .content.row.center-center.fill-y.facts
                                    .container
                                        h4.title.thin Development
                                        .fact
                                            h6.thin Pre-processing
                                            hr.quarter
                                            p.bold Jade/Pug, SASS, JQuery
                                        .fact
                                            h6.thin Compilation
                                            hr.quarter
                                            p.bold Jade/Pug -> HTML, SASS -> CSS
                                        .fact
                                            h6.thin Optimisation
                                            hr.quarter
                                            p.bold Minifing Files
                            .col
                                .img.fill-y
                    .slide.testing
                        .row.fill-y.fluid
                            .col
                                .content.row.center-center.fill-y.facts
                                    .container
                                        h4.title.thin Testing
                                        .fact
                                            h6.thin Unit
                                            hr.quarter
                                            p.bold Self Knowledge
                                        .fact
                                            h6.thin System
                                            hr.quarter
                                            p.bold Agile
                                        .fact
                                            h6.thin Feedback
                                            hr.quarter
                                            p.bold Peer
                            .col
                                .img.fill-y.bg-center
                    .slide.documentation
                        .row.fill-y.fluid
                            .col
                                .content.row.center-center.fill-y.facts
                                    .container
                                        h4.title.thin Documentation
                                        .fact
                                            h6.thin Instructions
                                            hr.quarter
                                            p.bold How would they know what to do?
                                        .fact
                                            h6.thin Support
                                            hr.quarter
                                            p.bold Clear, Easy, Simple.
                                        .fact
                                            a.button.dark.fat.bold(href="http://designofeden.com/", target="_blank") Take a read!
                            .col
                                .img.fill-y.bg-center
                #case-study.section
                    .slide
                        .container
                            h4.title.thin Case Studies
                    .slide
                        .container
                            .row-center-center
                                .responsive-media
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6SMyko6VAx8?rel=0&amp;controls=0&amp;showinfo=0&amp;start=140" frameborder="0" allowfullscreen></iframe>
                    .slide
                        .container
                            .row.center-center
                                img(alt="Aaron Conway Website", src="assets/img/presentation/aaronconway.png")
                    .slide
                        .container
                            .row.center-center
                                video(data-autoplay, loop)
                                    source(data-src="assets/video/presentation/frecibo.mp4", type="video/mp4")
                    .slide
                        .container
                            .row.center-center.logos
                                img(alt="Aaron Conway", src="assets/img/aaronconway.png")
                                img(alt="Frecibo", src="assets/img/frecibo-b&w.png")
                                img.ndorsa(alt="NDORSA", src="assets/img/ndorsa.png")
                                img(alt="WES", src="assets/img/wes.png")
                                img(alt="Co-Code", src="assets/img/co-code.png")
                #demo.section
                    .container
                        h4.title.thin Demo
                #project-management.section
                    .slide
                        .container
                            h4.title.thin Project Management
                    .slide.github-graphs
                        .container
                            h4.title.thin Jul 24, 2016 – Mar 5, 2017
                            .row.center-center
                                img(alt="GitHub Graph", src="assets/img/presentation/github-graph-1.jpg")
                            .row
                                img(alt="GitHub Graph", src="assets/img/presentation/github-graph-2.jpg")
                    .slide
                        .container
                            .row.center-center
                                img(alt="Specification Timetable", src="assets/img/presentation/timetable.png")
                    .slide.trello
                        .container
                            .row.center-center
                                img.logo(alt="Trello", src="assets/img/presentation/trello.svg")
                    .slide.trello
                        .container
                            .row.center-center
                                img(alt="Eden Trello Board", src="assets/img/presentation/trello-board.png")
                                    
                #further-work.section
                    .slide
                        .container
                            h4.title.thin Further Work
                    .slide
                        .container
                            h4.bold The end is not nigh.
                            h4.thin (There is no end.)
                    .slide
                        .container
                            .row.center-center
                                img(alt="Youtube Playlist", src="assets/img/presentation/youtube-playlist.png")
                    .slide
                        .container
                            h4.thin More components?
                    .slide
                        .container
                            .row.center-center
                                video(data-autoplay, loop)
                                    source(data-src="assets/video/presentation/touch-events.mp4", type="video/mp4")
                            p.thin.text-right.reference (Álvaro Trigo, https://twitter.com/IMAC2/status/796070516004192256)
                    .slide
                        .container
                            h4.thin A back-end?
                #thank-you.section
                    .slide
                        .container
                            h4.title.thin Thank you for listening!
                    .slide
                        .container
                            h4.title.thin Questions?
        include include/footer
        include include/foot
        script(src="js/pages/presentation.js")
        script(src="js/jquery.fullpage.js")
