doctype html
html(lang="en")
    head
        include include/head
        title="Eden"
        link(rel='stylesheet', href='css/temp.css')
    body
        .universe#home-pg
            include include/header
            .page-container
                section#hero
                    .hero.overlay.eden
                        .content.row.center-center
                            .container
                                h5.uppercase-and-space.text-center The Front-end Framework for
                                h3.text-center Beautiful Design
                section#about
                    .container
                        h5.text-center.animation.fade-in-up.on-scroll Designed to be #[span.curly different.] Designed to be #[span.curly beautiful.]
                        p.text-center.animation.fade-in-up.on-scroll Eden is a front-end web framework focused on beautiful design and unique web development. There are so many similar and let's be honest, just damn right ugly wesbites around nowadays. We want to put a change to this and in the words of Michael Jackson, make the internet a better place. At least I think that's what he said. More importantly, Eden is built with you in mind, from personal experience gained over the years.
                        .row.icons.center-center.mob-col
                                img.animation.fade-in-up.on-scroll.on-delay(alt="star", src="assets/img/star.svg")
                                img.animation.fade-in-up.on-scroll.on-delay(alt="code", src="assets/img/code.svg")
                                img.animation.fade-in-up.on-scroll.on-delay(alt="heart", src="assets/img/heart.svg")
                        .row.center-center
                            a.button.uppercase-and-space.transparent.border.animation.fade-in-up.on-scroll(href="#") Read More
                //- section#read-doc
                //-     a(href="components.html")
                //-         .container.row.center-center
                //-             h5.uppercase-and-space.text-center Read Documentation
                section#showcase
                    .row.center-bottom
                        img.ndorsa-homepage(alt="NDORSA Homepage", src="assets/img/screenshots/ndorsa-homepage.png")
                        video.frecibo-homepage(autoplay, loop)
                            source(src="assets/video/frecibo-homepage2.mp4" type="video/mp4")
                        img.aaronconway-homepage(alt="Aaron Conway Homepage", src="assets/img/screenshots/aaronconway-homepage.png")
                section#brands
                    .container
                        h5.text-center.animation.fade-in-up.on-scroll Brands using Eden
                        .row.logos.center-center.mob-col
                            a(href="http://aaronconway.co.uk", target="_blank")
                                img.animation.fade-in-up.on-scroll.on-delay(alt="Aaron Conway", src="assets/img/aaronconway.png")
                            a(href="http://frecibo.com", target="_blank")
                                img.animation.fade-in-up.on-scroll.on-delay(alt="Frecibo", src="assets/img/frecibo-b&w.png")
                            a(href="http://ndorsa.com", target="_blank")
                                img.ndorsa.animation.fade-in-up.on-scroll.on-delay(alt="NDORSA", src="assets/img/ndorsa.png")
                            a(href="http://", target="_blank")
                                img.animation.fade-in-up.on-scroll.on-delay(alt="WES", src="assets/img/wes.png")
                            
                section#open-source
                    .container
                        h5.text-center.animation.fade-in-up.on-scroll Eden is open source!
                        p.text-center.animation.fade-in-up.on-scroll Designed and available for everyone, (even Liverpool fans). Eden is 100% free to use and abuse under the MIT licence. You can find the project online on Github and strongly encourgae people to contribute and help us help you. And if you fancy buying me a beer for the sesh with the lads or a large Big Mac meal with strawberry milkshake and an apple pie to help me power through those latest features, that'd be pretty cool.
                        .row.buttons.center-center.mob-col
                            a.button.uppercase-and-space.transparent.border.invert-on-hover.animation.fade-in-up.on-scroll(href="https://github.com/aaronconway7/Eden") #[i(class="fa fa-github", aria-hidden="true")] View on Github
                            a.button.uppercase-and-space.eden.border.invert-on-hover.animation.fade-in-up.on-scroll(href="http://paypal.me/aaronconway/3.50") #[i(class="fa fa-paypal", aria-hidden="true")] Buy me a beer
                        .row.github-stats.center-center
                            a(class="github-button", href="https://github.com/aaronconway7/Eden", data-icon="octicon-star", data-count-href="/aaronconway7/Eden/stargazers", data-count-api="/repos/aaronconway7/Eden#stargazers_count", data-count-aria-label="# stargazers on GitHub", aria-label="Star aaronconway7/Eden on GitHub") Star
                            a(class="github-button", href="https://github.com/aaronconway7/Eden/fork", data-icon="octicon-repo-forked", data-count-href="/aaronconway7/Eden/network", data-count-api="/repos/aaronconway7/Eden#forks_count", data-count-aria-label="# forks on GitHub", aria-label="Fork aaronconway7/Eden on GitHub") Fork
                            span.version-number v1.0.0
            
            include include/footer

        script(async defer src="https://buttons.github.io/buttons.js")
        include include/foot
        script(src="js/pages/index.js")
