doctype html
html(lang="en")
    head
        include include/head
        title="Eden Components"
        link(rel='stylesheet', href='css/temp.css')
    body
        .universe#components-pg
            .layout.sidebar
                .nav.sidebar.fixed.main-nav
                    .container
                        .brand
                            span.uppercase.space Eden.
                        ul.nav-options
                            li
                                a(href="#icons-component") Icons
                            li
                                a(href="#font-component") Font
                            li
                                a(href="#colour-component") Colours
                            li
                                a(href="#size-component") Sizes
                            li
                                a(href="#container-component") Container
                            li
                                a(href="#grid-component") Grid
                            li
                                a(href="#typography-component") Typography
                            li
                                a(href="#list-component") Lists
                            li
                                a(href="#nav-component") Nav
                            li
                                a(href="#hero-component") Hero
                            li
                                a(href="#modal-component") Modal
                            li
                                a(href="#button-component") Buttons
                            li
                                a(href="#form-component") Forms
                            li
                                a(href="#slider-component") Slider
                            li
                                a(href="#lightbox-component") Lightbox
                            li
                                a(href="#masonry-component") Masonry
                            li
                                a(href="#overlay-component") Overlay
                            li
                                a(href="#video-component") Video
                            li
                                a(href="#responsive-media-component") Responsive Media
                            li
                                a(href="#tab-component") Tabs
                            li
                                a(href="#collapsible-component") Collapsible
                            li
                                a(href="#animations-component") Animations
                            li
                                a(href="#footer-component") Footer
                        
                .main
                    include include/header
                    hr
                    .page-content
                    section#components
                        .component#icons-component
                            .container
                                p.heading.uppercase.space Icons.
                                    a.link.transition(href="#icons-component")
                                        i.fa.fa-link(aria-hidden="true")
                                p #[a(href="http://fontawesome.io/", target="_blank") Font Awesome] are Eden's chosen icon set. They provide a scalable set of vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS. Just download the directoty and install by referencing their CSS file within the #[span.code.light &lt;head&gt;] of your document.
                                .row
                                    .col.one
                                        i.transition(class="fa fa-home" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-user" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-chevron-down" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-envelope" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-apple" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-arrow-circle-o-up" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-info-circle" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-camera" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-chain" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-circle-o" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-code" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-heart" aria-hidden="true")
                                .row
                                    .col.one
                                        i.transition(class="fa fa-facebook" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-twitter" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-instagram" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-linkedin" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-youtube-play" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-snapchat" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-google" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-magic" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-play" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-pause" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-paypal" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-pencil" aria-hidden="true")
                                .row
                                    .col.one
                                        i.transition(class="fa fa-question" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-quote-left" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-quote-right" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-reorder" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-search" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-slack" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-skype" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-soccer-ball-o" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-star" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-stop-circle" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-times" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-trophy" aria-hidden="true")
                                .row
                                    .col.one
                                        i.transition(class="fa fa-wifi" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-send-o" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-share" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-rss" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-refresh" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-power-off" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-plus" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-photo" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-money" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-mobile" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-male" aria-hidden="true")
                                    .col.one
                                        i.transition(class="fa fa-female" aria-hidden="true")
                        .component#font-component
                            .container
                                p.heading.uppercase.space Font.
                                    a.link.transition(href="#font-component")
                                        i.fa.fa-link(aria-hidden="true")
                                p #[a.transition(href="https://fonts.google.com/specimen/Source+Sans+Pro", target="_blank") Source Sans Pro] is Eden's choice of default font. It was designed by Paul D. Hunt as Adobe’s first open source typeface family. Source Sans Pro draws inspiration from the clarity and legibility of twentieth-century American gothic typeface designs. 
                                p Honourable mentions go to #[a.transition.lato(href="https://fonts.google.com/specimen/Lato", target="_blank") Lato], #[a.transition.raleway(href="https://fonts.google.com/specimen/Raleway", target="_blank") Raleway] & #[a.transition.playfair-display(href="https://fonts.google.com/specimen/Playfair+Display", target="_blank") PLayfair Display].
                                span.code.light font-weight: 100;
                                h4 The spectacle before us was indeed sublime.
                                span.code.light font-weight: 400;
                                h4 The spectacle before us was indeed sublime.
                                span.code.light font-weight: 600;
                                h4 The spectacle before us was indeed sublime.
                                span.code.light font-weight: 800;
                                h4 The spectacle before us was indeed sublime.
                        .component#colour-component
                            .container
                                p.heading.uppercase.space Colours.
                                    a.link.transition(href="#colour-component")
                                        i.fa.fa-link(aria-hidden="true")
                                p Eden comes with 4 core built in themes, #[span.code.light .dark], #[span.code.light .light], #[span.code.light .transparent] and #[span.code.light .eden]. Most components by default will have the eden colour scheme but this can be easily overwitten by giving the component you want to change the appropriate class. In some cases you may be required to append #[span.code.light !important] to your CSS style to hard ovveride the property.
                                .row.fluid.tab-col.themes
                                    .col.light.theme
                                        .col.center-center.fill-y
                                            span.code.light .light
                                            .code.light
                                                p background-color: #ececec;
                                                p color: #2f2f2f;
                                    .col.dark.theme
                                        .col.center-center.fill-y
                                            span.code.dark .dark
                                            .code.dark
                                                p background-color: #2f2f2f;
                                                p color: #ececec;
                                    .col.transparent.theme
                                        .col.center-center.fill-y
                                            span.code.transparent .transparent
                                            .code.transparent
                                                p background-color: transparent;
                                                p color: #2f2f2f;
                                    .col.eden.theme
                                        .col.center-center.fill-y
                                            span.code.eden .eden
                                            .code.eden
                                                p background-color: #52ae76;
                                                p color: #ececec;
                                p Find below a selection of handpicked swatches to use witin a website along with each colours HEX value. These colours provide a nice blend to complement each other, where each swatch being suitable in a different situations.
                                .row.palettes
                                    .col.half
                                        .row.palette.fluid.p-1.mob-col
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #e8d1a5
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #dda185
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #ab3334
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #33191a
                                    .col.half
                                        .row.palette.fluid.p-2.mob-col
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #c0b283
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #ddd1c1
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #f4f4f4
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #383838
                                .row.palettes
                                    .col.half
                                        .row.palette.fluid.p-3.mob-col
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #d8cdc7
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #565656
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #76323f
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #c1a081
                                    .col.half
                                        .row.palette.fluid.p-4.mob-col
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #161220
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #233239
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #984b45
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #e9c87b
                                .row.palettes
                                    .col.half
                                        .row.palette.fluid.p-5.mob-col
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #bfd8d2
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #fedcd2
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #de744c
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #deb13a
                                    .col.half
                                        .row.palette.fluid.p-6.mob-col
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #e44e3f
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #e9b000
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #eb6e80
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #018e97
                                .row.palettes
                                    .col.half
                                        .row.palette.fluid.p-7.mob-col
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #aab8c1
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #c7d8c8
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #eedac1
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #cccbc6
                                    .col.half
                                        .row.palette.fluid.p-8.mob-col
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #7ddcd4
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #f63341
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #f9be02
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #02c8a7
                                .row.palettes
                                    .col.half
                                        .row.palette.fluid.p-9.mob-col
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #cda34f
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #e8e9db
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #646b49
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #393e27
                                    .col.half
                                        .row.palette.fluid.p-10.mob-col
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #4a4f6c
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #98878f
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #985d6f
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #1a2133
                                .row.palettes
                                    .col.half
                                        .row.palette.fluid.p-11.mob-col
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #424242
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #cde0cc
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #ff695b
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #056571
                                    .col.half
                                        .row.palette.fluid.p-12.mob-col
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #20b58f
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #eab028
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #f24c4e
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #1a7b34
                                .row.palettes
                                    .col.half
                                        .row.palette.fluid.p-13.mob-col
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #e1455a
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #22252c
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour.white
                                                    p #3f324e
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #c0b3a0
                                    .col.half
                                        .row.palette.fluid.p-14.mob-col
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #f7ef6a
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #93c178
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #465c8b
                                            .col.fill-y
                                                .row.fill-y.bottom-right.colour
                                                    p #dfdce3
                                .col.palettes.mob-row
                                    .row.palette.fluid.p-15.mob-col
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour
                                                p #1abc9c
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour
                                                p #2ecc71
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour
                                                p #3498db
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour.white
                                                p #9b59b6
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour.white
                                                p #34495e
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour
                                                p #f1c40f
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour
                                                p #e67e22
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour.white
                                                p #e74c3c
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour
                                                p #ecf0f1
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour
                                                p #95a5a6
                                    .row.palette.fluid.p-16.mob-col
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour.white
                                                p #16a085
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour.white
                                                p #27ae60
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour.white
                                                p #2980b9
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour.white
                                                p #8e44ad
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour.white
                                                p #2c3e50
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour
                                                p #f39c12
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour.white
                                                p #d35400
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour.white
                                                p #c0392b
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour
                                                p #bdc3c7
                                        .col.fill-y
                                            .row.fill-y.bottom-right.colour.white
                                                p #7f8c8d            
                        .component#size-component
                            .container
                                p.heading.uppercase.space Sizes.
                                    a.link.transition(href="#size-component")
                                        i.fa.fa-link(aria-hidden="true")
                                p Another set of common CSS properties found in Eden are those representing size. By adding one of the appropriate classes, #[span.code.light .tall], #[span.code.light .short], #[span.code.light .fat] or #[span.code.light .skinny] to one of the elements listed below, it will alter the size/padding of the element in the way just specified.
                                ul.bullet
                                    li #[span.code.dark .nav]
                                    li #[span.code.dark .hero]
                                    li #[span.code.dark button], #[span.code.dark .button]
                                    li #[span.code.dark input], #[span.code.dark textarea], #[span.code.dark select], #[span.code.dark .toggle]
                                    li #[span.code.dark .slider] #[span.note (only tall & short)]
                                    li #[span.code.dark .footer] #[span.note (only tall & short)]
                        .component#container-component
                            .container
                                p.heading.uppercase.space Container.
                                    a.link.transition(href="#container-component")
                                        i.fa.fa-link(aria-hidden="true")
                                p The Eden container is used to hold elements for which you want to give some space to aorund the edegs. By housing these elements within a #[span.code.light .container] class, a large padding is given to the top and bottom with a repsonive margin that adjusts on either side in response to the window width. If no space is needed, a #[span.code.light .wrapper] class can be used.  
                            .wrapper.tool-tip
                                .tool-tip-text.dark 
                                    .code .wrapper
                                .container.tool-tip
                                    .tool-tip-text.light.center 
                                        .code.light .container
                            .container.second
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/061746fdaac7d128401fa0e89939bb67.js"></script>
                        .component#grid-component
                            .container
                                p.heading.uppercase.space Grid.
                                    a.link.transition(href="#grid-component")
                                        i.fa.fa-link(aria-hidden="true")
                                p The grid is a vital component in developing mobile responsive websites. We provide a 12 column fluid grid that shrinks as the viewport shrinks. The Eden grid system uses #[span.code.light .row] & #[span.code.light .col] classes. The size (how many columns they occupy) of each column can then be specified by giving it a class of that number. e.g. a column spanning 7 columns would have the class #[span.code.light .seven].
                                p Eden also allows users to specify common fractions indicating the amount of it's parent it spans. e.g. If you want a column to span a third of the width, give it a class of #[span.code.light .third] or if you want it to occupy five sixths, make it #[span.code.light .five-sixths]. Simple isn't it?
                                p To alter the column layout resposnively at mobile or tablet size, just add a class of #[span.code.light .tab-*] or #[span.code.light .mob-*] respectively where * is the column size. You can also switch the orientation from #[span.code.light .row] to #[span.code.light .col] or #[span.code.light .col] to #[span.code.light .row] at tablet or mobile by using row or col in replace of the *.
                                .table.col-border.row-border
                                    .table-heading
                                        .table-row
                                            .table-cell Column Span
                                            .table-cell Class
                                            .table-cell Fraction Class
                                            .table-cell Tablet
                                            .table-cell Mobile
                                    .table-body.transparent
                                        .table-row
                                            .table-cell 1
                                            .table-cell #[span.code.light .one]
                                            .table-cell 
                                            .table-cell #[span.code.light .tab-one]
                                            .table-cell #[span.code.light .mob-one]
                                        .table-row
                                            .table-cell 2
                                            .table-cell #[span.code.light .two]
                                            .table-cell #[span.code.light .sixth]
                                            .table-cell
                                                ul
                                                    li
                                                        span.code.light .tab-two
                                                    li
                                                        span.code.light .tab-sixth
                                            .table-cell
                                                ul
                                                    li
                                                        span.code.light .mob-two
                                                    li
                                                        span.code.light .mob-sixth
                                        .table-row
                                            .table-cell 3
                                            .table-cell #[span.code.light .three]
                                            .table-cell #[span.code.light .quarter]
                                            .table-cell
                                                ul.no-bullet
                                                    li
                                                        span.code.light .tab-three
                                                    li
                                                        span.code.light .tab-quarter
                                            .table-cell
                                                ul.no-bullet
                                                    li
                                                        span.code.light .mob-three
                                                    li
                                                        span.code.light .mob-quarter
                                        .table-row
                                            .table-cell 4
                                            .table-cell #[span.code.light .four]
                                            .table-cell #[span.code.light .third]
                                            .table-cell
                                                ul.no-bullet
                                                    li
                                                        span.code.light .tab-four
                                                    li
                                                        span.code.light .tab-third
                                            .table-cell
                                                ul.no-bullet
                                                    li
                                                        span.code.light .mob-four
                                                    li
                                                        span.code.light .mob-third
                                        .table-row
                                            .table-cell 5
                                            .table-cell #[span.code.light .five]
                                            .table-cell 
                                            .table-cell #[span.code.light .tab-five]
                                            .table-cell #[span.code.light .mob-five]
                                        .table-row
                                            .table-cell 6
                                            .table-cell #[span.code.light .six]
                                            .table-cell #[span.code.light .half]
                                            .table-cell
                                                ul.no-bullet
                                                    li
                                                        span.code.light .tab-six
                                                    li
                                                        span.code.light .tab-half
                                            .table-cell
                                                ul.no-bullet
                                                    li
                                                        span.code.light .mob-six
                                                    li
                                                        span.code.light .mob-half
                                        .table-row
                                            .table-cell 7
                                            .table-cell #[span.code.light .seven]
                                            .table-cell 
                                            .table-cell #[span.code.light .tab-seven]
                                            .table-cell #[span.code.light .mob-seven]
                                        .table-row
                                            .table-cell 8
                                            .table-cell #[span.code.light .eight]
                                            .table-cell #[span.code.light .two-thirds]
                                            .table-cell
                                                ul.no-bullet
                                                    li
                                                        span.code.light .tab-eight
                                                    li
                                                        span.code.light .tab-two-thirds
                                            .table-cell
                                                ul.no-bullet
                                                    li
                                                        span.code.light .mob-eight
                                                    li
                                                        span.code.light .mob-two-thirds
                                        .table-row
                                            .table-cell 9
                                            .table-cell #[span.code.light .nine]
                                            .table-cell #[span.code.light .three-quarters]
                                            .table-cell
                                                ul.no-bullet
                                                    li
                                                        span.code.light .tab-nine
                                                    li
                                                        span.code.light .tab-three-quarters
                                            .table-cell
                                                ul.no-bullet
                                                    li
                                                        span.code.light .mob-nine
                                                    li
                                                        span.code.light .mob-three-quarters
                                        .table-row
                                            .table-cell 10
                                            .table-cell #[span.code.light .ten]
                                            .table-cell #[span.code.light .five-sixths]
                                            .table-cell
                                                ul.no-bullet
                                                    li
                                                        span.code.light .tab-ten
                                                    li
                                                        span.code.light .tab-five-sixths
                                            .table-cell
                                                ul.no-bullet
                                                    li
                                                        span.code.light .mob-ten
                                                    li
                                                        span.code.light .mob-five-sixths
                                        .table-row
                                            .table-cell 11
                                            .table-cell #[span.code.light .eleven]
                                            .table-cell 
                                            .table-cell #[span.code.light .tab-eleven]
                                            .table-cell #[span.code.light .mob-eleven]
                                        .table-row
                                            .table-cell 12
                                            .table-cell #[span.code.light .twelve]
                                            .table-cell #[span.code.light .full]
                                            .table-cell
                                                ul.no-bullet
                                                    li
                                                        span.code.light .tab-twelve
                                                    li
                                                        span.code.light .tab-full
                                            .table-cell
                                                ul.no-bullet
                                                    li
                                                        span.code.light .mob-twelve
                                                    li
                                                        span.code.light .mob-full
                                .row
                                    .col.one.tool-tip &nbsp;
                                        .tool-tip-text.dark.skinny 
                                            .code .col.one
                                    .col.eleven.tool-tip &nbsp;
                                        .tool-tip-text.dark.center
                                            .code .col.eleven
                                .row
                                    .col.two.tool-tip &nbsp;
                                        .tool-tip-text.dark 
                                            .code .col.two, .col.sixth
                                    .col.ten.tool-tip &nbsp;
                                        .tool-tip-text.dark.center
                                            .code .col.ten, .col.five-sixths
                                .row
                                    .col.three.tool-tip &nbsp;
                                        .tool-tip-text.dark
                                            .code .col.three, .col.quarter
                                    .col.nine.tool-tip &nbsp;
                                        .tool-tip-text.dark.center
                                            .code .col.nine, .col.three-quarters
                                .row
                                    .col.four.tool-tip &nbsp;
                                        .tool-tip-text.dark
                                            .code .col.four, .col.third
                                    .col.eight.tool-tip &nbsp;
                                        .tool-tip-text.dark.right
                                            .code .col.eight, .col.two-thirds
                                .row
                                    .col.five.tool-tip &nbsp;
                                        .tool-tip-text.dark
                                            .code .col.five
                                    .col.seven.tool-tip &nbsp;
                                        .tool-tip-text.dark.right
                                            .code .col.seven
                                .row
                                    .col.six.tool-tip &nbsp;
                                        .tool-tip-text.dark.left
                                            .code .col.six, .col.half
                                    .col.six.tool-tip &nbsp;
                                        .tool-tip-text.dark.right
                                            .code .col.six, .col.half
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/b8be1308ccae5d51ebaacedcb315b961.js"></script>
                        .component#typography-component
                            .container
                                p.heading.uppercase.space Typography.
                                    a.link.transition(href="#typography-component")
                                        i.fa.fa-link(aria-hidden="true")
                                p Eden comes with Source Sans Pro as its default font family but can easily be overwritten by changing it for the #[span.code.light .body] class. All types have been set using #[span.code.light rem] and #[span.code.light em] units where the default #[span.code.light :root] size is #[span.code.light 12pt].
                                p Other basic type styles such as #[span.code.light .uppercase], #[span.code.light .lowercase] as well as different forms of alignemnt are all available. 
                                h1 Heading 1
                                h2 Heading 2
                                h3 Heading 3
                                h4 Heading 4
                                h5 Heading 5
                                h6 Heading 6
                                p.uppercase.space Uppercase & Spaced
                                p.text-center Centrally aligned text
                                p.text-right Right aligned text
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/59d8cbc86a2859a1f8022a7c0adaee0c.js"></script>
                        .component#list-component
                            .container
                                p.heading.uppercase.space Lists.
                                    a.link.transition(href="#list-component")
                                        i.fa.fa-link(aria-hidden="true")
                                .row.lists
                                    .col
                                        ul
                                            li Item
                                            li Item
                                            li Item
                                    .col
                                        ul.bullet
                                            li Item
                                            li Item
                                            li Item
                                    .col
                                        ol
                                            li Item
                                            li Item
                                            li Item
                                    .col
                                        ul.inline
                                            li Item
                                            li Item
                                            li Item
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/4569a613f84aa3bfe26e75b03387c887.js"></script>
                        .component#nav-component
                            .container
                                p.heading.uppercase.space Nav.
                                    a.link.transition(href="#nav-component")
                                        i.fa.fa-link(aria-hidden="true")
                                p The navigation bar is one of, if not the most complex and feature rich component of the framework. Both horizontal and vertical navigation bars are potential options as well as sidebars that can be pulled out.
                                p Within the #[span.code.light .nav] tags, #[span.code.light .brand], #[span.code.light .nav-options] list(s), and/or #[span.code.light .mob-nav] can be specified.
                            .nav.clear.light
                                .brand.float-left
                                    a(href="#")
                                        img.logo(alt="", src="assets/img/logos/acme-logos-1.png")
                                        span brand
                                ul.nav-options.float-left
                                    li
                                        a(href="#") option
                                    li.dropdown LOST
                                        ul.dropdown-content
                                            li
                                                a(href="") 4
                                                a(href="") 8
                                                a(href="") 15
                                                a(href="") 16
                                                a(href="") 23
                                                a(href="") 42
                                ul.nav-options.float-right
                                    li.nav-text signed in as Desmond
                                    li
                                        a(href="")
                                            button.uppercase.space(type="button") Sign Out
                                .mob-nav.float-right
                                    input.mob-toggle#mob-toggle(type="checkbox", name="mob-toggle")
                                    label(for="mob-toggle")
                                        .bun.dark
                                            .hamburger
                                            .hamburger
                                            .hamburger
                                    ul.nav-options.text-center
                                        li
                                            a(href="#") option
                                        li
                                            a(href="#") option
                                        li
                                            a(href="#") option
                            .nav.clear.skinny.transparent.padded
                                .brand.float-left
                                    a(href="#")
                                        span.lowercase brand
                                ul.nav-options.float-left
                                    li
                                        a(href="#") option
                                    li
                                        a(href="#") option
                                ul.nav-options.float-right
                                    li
                                        a(href="#") option
                                    li
                                        a(href="#") option
                                    li
                                        a(href="#") option
                                .mob-nav.float-right
                                    input.mob-toggle#mob-toggle(type="checkbox", name="mob-toggle")
                                    label(for="mob-toggle")
                                        .bun.dark.thin.short.fat
                                            .hamburger
                                            .hamburger
                                            .hamburger
                                    ul.nav-options.text-center
                                        li
                                            a(href="#") option
                                        li
                                            a(href="#") option
                                        li
                                            a(href="#") option
                            .nav.fat.uppercase.space.centered.dark
                                ul.nav-options
                                    li
                                        a(href="#") option
                                    li.dropdown option
                                        ul.dropdown-content
                                            li
                                                a(href="#") dropdown option
                                            li
                                                a(href="#") dropdown option
                                    li
                                        a(href="#") option
                                .brand
                                    a(href="index.html")
                                        img.logo(alt="", src="assets/img/logos/acme-logos-10.png")
                                ul.nav-options
                                    li
                                        a(href="#") option
                                    li.dropdown option
                                        ul.dropdown-content
                                            li
                                                a(href="#") dropdown option
                                            li
                                                a(href="#") dropdown option
                                    li
                                        a(href="#")
                                            button.uppercase.space.skinny(type="button") Download
                                
                                .mob-nav.float-right
                                    input.mob-toggle#mob-toggle(type="checkbox", name="mob-toggle")
                                    label(for="mob-toggle")
                                        .bun.light.thin.skinny
                                            .hamburger
                                            .hamburger
                                            .hamburger
                                    ul.nav-options.text-center
                                        li
                                            a(href="#") option
                                        li
                                            a(href="#") option
                                        li
                                            a(href="#") option
                            .nav.clear.mobile.transparent
                                .brand.float-left
                                    a(href="index.html")
                                        img.logo(alt="", src="assets/img/logos/acme-logos-4.png")
                            .container.second
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/a27cd3974cc8698fff95e72c75471f57.js"></script>
                        .component#hero-component
                            .container
                                p.heading.uppercase.space Hero.
                                    a.link.transition(href="#hero-component")
                                        i.fa.fa-link(aria-hidden="true")
                                .row.badges
                                    .badge.js
                                        span.uppercase js
                                p Hero images are a very popular and modern trend of web design. They are generally the first thing you see on a webpage and are used to grab your attention.
                                p The Eden hero comes in all the sizes. The deafult will take up the entire height of your viewport and the entire width of the parent element.
                            .hero
                                .row.content.center-center.fill-y
                                    h1 Hero.
                            .container.second
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/b24a91266b10de91b67a6bc213ad1878.js"></script>
                                p Parallax scrolling is a very new and modern technique used in web design and with Eden we now make it so easy to achieve this by just including the following in your js file! Check out an example #[a(href="parallax.html", target="_blank") here].
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/a505d0f9e1394c5a61854e2006bc37a5.js"></script>
                                p Eden heroes also support colour overlays which are great when you are looking to match your brand's theme or even to cover up a pixelated image. Adding a #[span.code.light .overlay] class to your #[span.code.light .hero] will automatically apply the effect. You can then choose your own colour by overriding the #[span.code.light .overlay:after] property in your CSS or you can apply Eden's #[span.code.light .dark] or #[span.code.light .light] theme. 
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/bfe9b94ad26725908e0e48b959dcbfcc.js"></script>
                            .hero.short.fat.overlay
                                .col.content.top-right.fill-y
                                    h1.space hero                    
                        .component#modal-component
                            .container
                                p.heading.uppercase.space Modal.
                                    a.link.transition(href="#modal-component")
                                        i.fa.fa-link(aria-hidden="true")
                                .row.badges
                                    .badge.js
                                        span.uppercase js
                                p Modals are pop-up dialog boxes that are a nice and tidy way to present information without the need to open another page. Just make a #[span.code.light .modal] div as the next sibling of the element that you want to activate it.
                                .row.center-center
                                    .modal.light.shadow.dark-bg.is-open.eg
                                        .content
                                            .container
                                                h1 Modal
                                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            .close.inside
                                                span.close-modal ✕
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/449501b9182005bbdc4b470fb3dbe769.js"></script>
                                    <script src="https://gist.github.com/aaronconway7/34e0813ab98e859c5d25a82d6dd078fa.js"></script>
                                .row.center-center
                                    button(type="button fat tall" class="open-modal") Open Modal
                                    .modal.light.shadow.dark-bg
                                        .content
                                            .container
                                                h1 Ta-da!
                                                p You just opened a modal designed by Eden.
                                            .close.inside
                                                span.close-modal ✕
                        .component#button-component
                            .container
                                p.heading.uppercase.space Buttons.
                                    a.link.transition(href="#button-component")
                                        i.fa.fa-link(aria-hidden="true")
                                p Buttons come in two forms in Eden. They can either be the standard #[span.code.light button] tags or attached to #[span.code.light a] tags with the #[span.code.light .button] class.
                                .buttons.row.center-center
                                    button.light(type="button") Button
                                    button.pill.fat.button-1.transparent.border(type="button") Button
                                    button.transparent.border(type="button") Button
                                .buttons.row.center-center
                                    button.button-2.rounded.dark.uppercase.space.fill-x.shadow(type="button") Button
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/e1dafa088d051eef9795dd9092f07399.js"></script>
                        .component#form-component
                            .container
                                p.heading.uppercase.space Forms.
                                    a.link.transition(href="#form-component")
                                        i.fa.fa-link(aria-hidden="true")
                                .row.badges
                                    .badge.font-awesome
                                        span.uppercase fontawesome
                                    .badge.js
                                        span.uppercase js
                                p Forms play a key role in web developement and especially in the development of sites requiring a back-end.
                                input.round.border.animated-search(type="text", placeholder="Search...")
                                .forms.row
                                    .col.form
                                        form.first
                                            input.light(type="text", placeholder="Input Text Light")
                                            label.select
                                                select.sharp.light
                                                    option(value="placeholder" disabled selected) Select
                                                    option(value="volvo") Volvo
                                                    option(value="saab") Saab
                                                    option(value="opel") Opel
                                            label.checkbox
                                                input(type="checkbox")
                                                span.label-text Checkbox
                                            label.checkbox
                                                input(type="checkbox" disabled)
                                                span.label-text Checkbox
                                            textarea.light(placeholder="Description goes here...")
                                            label.toggle.light
                                                input(type="checkbox")
                                                .toggle-control
                                                    .option-1 Option 1
                                                    .option-1 Option 2
                                                    .handle
                                            .row.form-controls
                                                input.transparent.border.uppercase.space.round(type="submit", value="submit")
                                                input.transparent.border.uppercase.space.round(type="reset", value="reset")
                                    .col.form
                                        form.second
                                            input.border-bottom(type="text", placeholder="Input Text Light")
                                            label.select
                                                select.sharp.border-bottom
                                                    option(value="placeholder" disabled selected) Select
                                                    option(value="volvo") Volvo
                                                    option(value="saab") Saab
                                                    option(value="opel") Opel
                                            label.checkbox
                                                input(type="checkbox")
                                                span.label-text Checkbox
                                            label.checkbox
                                                input(type="checkbox" disabled)
                                                span.label-text Checkbox
                                            textarea.border(placeholder="Description goes here...")
                                            label.toggle.dark
                                                input(type="checkbox")
                                                .toggle-control
                                                    .option-1 Option 1
                                                    .option-1 Option 2
                                                    .handle.shadow
                                            .row.form-controls
                                                input.transparent.uppercase.space(type="submit", value="submit")
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/093d9a598318fe5538ded76851b664fa.js"></script>
                        .component#slider-component
                            .container
                                p.heading.uppercase.space Slider.
                                    a.link.transition(href="#slider-component")
                                        i.fa.fa-link(aria-hidden="true")
                                .row.badges
                                    .badge.js
                                        span.uppercase js
                                //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            .slider.tall
                                .slides
                                    .slide.is-active
                                    .slide.overlay.dark
                                        .row.center-center.fill-y
                                            .container
                                                h1.text-center Slide Title
                                    .slide
                                
                                span.slide-left.slider-control ❮
                                span.slide-right.slider-control ❯
                                
                                .dots
                                    .dot.is-active
                                    .dot
                                    .dot
                            .container.second
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/510968438e17cd3ec18e0326d66618a6.js"></script>
                                    <script src="https://gist.github.com/aaronconway7/d2ebb98850f0fd946b0d4d794fe105ae.js"></script>
                        .component#lightbox-component
                            .container
                                p.heading.uppercase.space Lightbox.
                                    a.link.transition(href="#lightbox-component")
                                        i.fa.fa-link(aria-hidden="true")
                                .row.badges
                                    .badge.js
                                        span.uppercase js
                                //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .lightbox.row.wrap.center-center
                                    img(src="assets/img/bg/lightbox1.jpg")
                                    img(src="assets/img/bg/lightbox2.jpg")
                                    p.caption St. Paul's Cathedral
                                    img(src="assets/img/bg/lightbox3.jpg") 
                                    img(src="assets/img/bg/lightbox4.jpg")
                                    img(src="assets/img/bg/lightbox5.jpg")
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/7517eb47fa2a2c3317d250c08753f65c.js"></script>
                                    <script src="https://gist.github.com/aaronconway7/d0d98b7431d70f89c3e6e96065ad241a.js"></script>
                        .component#masonry-component
                            .container
                                p.heading.uppercase.space Masonry.
                                    a.link.transition(href="#masonry-component")
                                        i.fa.fa-link(aria-hidden="true")
                                //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .masonry.col-3.tab-col-2
                                    img.item(src="assets/img/bg/masonry1.jpg")
                                    img.item(src="assets/img/bg/masonry2.jpg")
                                    img.item(src="assets/img/bg/masonry8.jpg") 
                                    img.item(src="assets/img/bg/masonry4.jpg")
                                    img.item(src="assets/img/bg/masonry5.jpg")
                                    img.item(src="assets/img/bg/masonry6.jpg")
                                    img.item(src="assets/img/bg/masonry7.jpg")
                                    img.item(src="assets/img/bg/masonry3.jpg")
                                    img.item(src="assets/img/bg/masonry9.jpg")
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/653b47e42b106a9ec6658a93e5262d18.js"></script>
                        .component#overlay-component
                            .container
                                p.heading.uppercase.space Overlay.
                                    a.link.transition(href="#overlay-component")
                                        i.fa.fa-link(aria-hidden="true")
                                //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .row.center-center
                                    .img-1.overlay
                                    .img-2.overlay.dark
                                    .img-3.overlay
                                    .img-4.overlay.light
                                    .img-5.overlay
                                .row.center-center.hover
                                    .img-6.overlay.slide-right.on-hover
                                        .content.col.center-center.fill-y
                                            h6 .slide-right
                                    .img-7.overlay.slide-down.on-hover
                                        .content.col.center-center.fill-y
                                            h6 .slide-down
                                    .img-8.overlay.fade.on-hover.solid
                                        .content.col.center-center.fill-y
                                            h6 .fade
                                    .img-9.overlay.slide-up.on-hover
                                        .content.col.center-center.fill-y
                                            h6 .slide-up
                                    .img-10.overlay.slide-left.on-hover
                                        .content.col.center-center.fill-y
                                            h6 .slide-left
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/7aefa70da50123a8dcc2635786264fb3.js"></script>
                        .component#video-component
                            .container
                                p.heading.uppercase.space Video.
                                    a.link.transition(href="#video-component")
                                        i.fa.fa-link(aria-hidden="true")
                                .row.badges
                                    .badge.js
                                        span.uppercase js
                                //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .video.overlay
                                    video
                                        source(src="assets/video/frecibo.mp4" type="video/mp4")
                                    .content.row.center-center.fill-y
                                        i(class="fa fa-play-circle-o", aria-hidden="true").transition.play
                                        i(class="fa fa-pause-circle" aria-hidden="true").transition.pause
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/583e53887775d73c030eac684a8d0f01.js"></script>
                        .component#responsive-media-component
                            .container
                                p.heading.uppercase.space Responsive Media.
                                    a.link.transition(href="#responsive-media-component")
                                        i.fa.fa-link(aria-hidden="true")
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .row
                                    .responsive-media
                                        iframe(width="420", height="315" src='https://www.youtube.com/embed/UnNrcrPSBMU', frameborder='0', allowfullscreen='')
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/89d61a86b1b0aadbc040faa37fd55be1.js"></script>
                        .component#tab-component
                            .container
                                p.heading.uppercase.space Tabs.
                                    a.link.transition(href="#tab-component")
                                        i.fa.fa-link(aria-hidden="true")
                                .row.badges
                                    .badge.js
                                        span.uppercase js
                                .tab.outline
                                    .tab-headings.row
                                        span.tab-heading.transition.is-active One
                                        span.tab-heading.transition Two
                                        span.tab-heading.transition Three
                                    .tab-contents
                                        .tab-content.is-open
                                            h6 Tab 1
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        .tab-content
                                            h6 Tab 2
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        .tab-content
                                            h6 Tab 3
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .tab.arrow.dark
                                    .tab-headings.row
                                        .tab-heading.transition.is-active 
                                            .col.center-center.fill-y
                                                <i class="fa fa-cutlery" aria-hidden="true"></i>
                                                span Food & Drink
                                        .tab-heading.transition 
                                            .col.center-center.fill-y
                                                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                                                span Sport
                                        .tab-heading.transition 
                                            .col.center-center.fill-y
                                                <i class="fa fa-headphones" aria-hidden="true"></i>
                                                span Music
                                        .tab-heading.transition 
                                            .col.center-center.fill-y
                                                <i class="fa fa-video-camera" aria-hidden="true"></i>
                                                span Film
                                        .tab-heading.transition 
                                            .col.center-center.fill-y
                                                <i class="fa fa-gamepad" aria-hidden="true"></i>
                                                span Game
                                    .tab-contents
                                        .tab-content.is-open
                                            h6 Tab 1
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        .tab-content
                                            h6 Tab 2
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        .tab-content
                                            h6 Tab 3
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/07d9e78e712f1cb1fa1e9e64b0aafdb5.js"></script>
                        .component#collapsible-component
                            .container
                                p.heading.uppercase.space Collapsible.
                                    a.link.transition(href="#collapsible-component")
                                        i.fa.fa-link(aria-hidden="true")
                                .row.badges
                                    .badge.js
                                        span.uppercase js
                                .collapsible
                                   .panel
                                       .show-content.light.border.transition
                                           span Section 1
                                       .content
                                           p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                   .panel
                                       .show-content.light.border.transition
                                           span Section 2
                                       .content
                                           p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                   .panel
                                       .show-content.light.border.transition
                                           span Section 3
                                       .content
                                           p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/3c4967c9a34987a9a224c8bdf4de96dc.js"></script>
                                    <script src="https://gist.github.com/aaronconway7/5717a5a0071469a4a38a4f7a6e0df9f7.js"></script>
                        .component#animations-component
                            .container
                                p.heading.uppercase.space.animation.on-scroll.fade-in-up Animations.
                                    a.link.transition(href="#animations-media-component")
                                        i.fa.fa-link(aria-hidden="true")
                                .row.badges.amimation.on-scroll.fade-in-up
                                    .badge.js
                                        span.uppercase js
                                //- p.animation.on-scroll.fade-in-right Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .gist-code.animation.on-scroll.fade-in-right
                                    <script src="https://gist.github.com/aaronconway7/f45c9e91987ee6806aeb795bea08d975.js"></script>
                                    <script src="https://gist.github.com/aaronconway7/4b92f5b1673af78dcb9670e7b6f9640c.js"></script>
                        .component#footer-component
                            .container    
                                p.heading.uppercase.space Footer.
                                    a.link.transition(href="#footer-component")
                                        i.fa.fa-link(aria-hidden="true")
                                .row.badges
                                    .badge.js
                                        span.uppercase js
                                //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    
                                .gist-code
                                    <script src="https://gist.github.com/aaronconway7/5d64c1c353fbbeca4e329f9b6e80efcc.js"></script>
                                    <script src="https://gist.github.com/aaronconway7/2d420561d274a001bec8a2d8ca0bbc93.js"></script>
            include include/footer
            
        include include/foot
        script(src="js/pages/components.js")
                
