doctype html
html(lang="en")
    head
        include include/head
        title="Eden Presentation by Aaron Conway"
        link(rel='stylesheet', href='css/presentation.css')
        link(rel='stylesheet', href='css/jquery.fullpage.css')
    body
        header
            .nav.clear.fixed.transparent.padded.tall
                .brand.float-left
                    img.logo(alt="Eden", src="assets/img/eden.png")
                    span Eden.
        main#presentation
            #fullpage
                #hero.hero.overlay.section
                    .content.row.left-center.fill-y
                        .col
                            .container
                                h1.thin CS310 Third Year Project
                                h6.name.uppercase.space Aaron Conway
                    .row.scroll-down.fill-x.center-center
                        a.transition(href="#me") keep scrollling <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                #me.section
                    .slide
                        .container
                            h4.title.thin A little bit about myself...
                            .row.left-center
                                .img.dark.bg-center
                                ul.bullet
                                    li My name is Aaron Conway
                                    li I'm a straight CS student
                                    li I'm a freelance designer and front-end web developer
                    .slide
                        .container
                            .lightbox.row.wrap.center-center
                                img(src="assets/img/presentation/moneywise.png", alt="MoneywiseQuoteMe Website")
                                img(src="assets/img/presentation/tutorial.png", alt="Tutorial Website")
                                img(src="assets/img/presentation/lush-heat.png", alt="Lush Heat Treatment Website")
                                img(src="assets/img/presentation/fdis.png", alt="FDIS Website")
                                img.shadow(src="assets/img/presentation/fdis-logo.jpg", alt="FDIS Logo")
                                img.shadow(src="assets/img/presentation/raw.jpg", alt="RAW Logo")
                                img(src="assets/img/presentation/theboar.png", alt="The Boar")
                #the-problem.section
                    .slide
                        .container
                            h4.title.thin The Problem.
                            .table
                                .table-heading.transparent
                                    .table-row
                                        .table-cell Personal
                                        .table-cell General
                                .table-body.transparent
                                    .table-row
                                        .table-cell 
                                            ul.bullet
                                                li Re-typing common pieces of code
                                                li Lengthy (mundane) process
                                        .table-cell
                                            ul.bullet
                                                li Poorly designed websites
                                                li Similarity of websites
                    .slide
                        .container
                            h4.title.thin What is a front-end framework?
                            ul.bullet
                                li A package made up of a structure of files and folders of standardized code which can be used to support the development of websites, as a basis to start building a site.
                            p.thin.text-right.reference (https://www.awwwards.com/what-are-frameworks-22-best-responsive-css-frameworks-for-web-design.html)
                    .slide
                        .container
                            h4.title.thin Why a front-end framework?
                            ul.bullet
                                li Provides a common structure so that developers don’t have to redo it from scratch and can reuse the code provided.
                                li Allow us to cut out much of the work and save a lot of time.
                            p.thin.text-right.reference (https://www.awwwards.com/what-are-frameworks-22-best-responsive-css-frameworks-for-web-design.html)
                    .slide.bootstrap-slide
                        .container
                            .row.center-center
                                img(src="assets/img/presentation/bootstrap.svg", alt="Bootstrap")
                    .slide.bootstrap-slide.comparision
                        .container
                            img(src="assets/img/presentation/bootstrap.svg", alt="Bootstrap")
                            .table
                                .table-heading.transparent
                                    .table-row
                                        .table-cell Advantages
                                        .table-cell Disadvantages
                                .table-body.transparent
                                    .table-row
                                        .table-cell 
                                            ul.bullet
                                                li Most popular front-end framework available
                                                li Large collection of components
                                        .table-cell
                                            ul.bullet
                                                li Heavy file size (>180kb)
                                                li Hard to fully customise
                    .slide.skeleton-slide
                        .container
                            .row.center-center
                                h1 Skeleton
                    .slide.skeleton-slide.comparision
                        .container
                            h4 Skeleton
                            .table
                                .table-heading.transparent
                                    .table-row
                                        .table-cell Advantages
                                        .table-cell Disadvantages
                                .table-body.transparent
                                    .table-row
                                        .table-cell 
                                            ul.bullet
                                                li Extremeley lightweight (~400 lines)
                                                li Very easy to customise
                                        .table-cell
                                            ul.bullet
                                                li Very few features
                                                li Not widely used
                    .slide
                        .container
                            .col.center-center
                                h1.thin #[span.style Style] .v. #[span.substance Substance]                    
                #the-solution.section
                    .slide
                        .container
                            h4.title.thin The Solution...
                    .slide.eden-slide
                        .container
                            .row.center-center
                                img.logo(alt="Eden", src="assets/img/eden.png")
                                h3.thin Eden.
                    .slide.eden-slide
                        .container
                            h4.thin The #[span.bold front-end framework] for beautiful design.
                    .slide.eden-slide
                        .container
                            .row.center-center
                                img.responsive(alt="responsive", src="assets/img/presentation/responsive.png")
                    .slide.eden-slide.grid
                        .container
                            .row
                                .col.one &nbsp;
                                .col.eleven &nbsp;
                            .row
                                .col.two &nbsp;
                                .col.ten &nbsp;
                            .row
                                .col.three &nbsp;
                                .col.nine &nbsp;
                            .row
                                .col.four &nbsp;
                                .col.eight &nbsp;
                            .row
                                .col.five &nbsp;
                                .col.seven &nbsp;
                            .row
                                .col.six &nbsp;
                                .col.six &nbsp;
                            .row
                                .col.quarter &nbsp;
                                .col.three-quarters &nbsp;
                            .row
                                .col.third &nbsp;
                                .col.third &nbsp;
                                .col.third &nbsp;
                            .row
                                .col.quarter &nbsp;
                                .col.quarter &nbsp;
                                .col.quarter &nbsp;
                                .col.quarter &nbsp;
                            .row
                                .col.one &nbsp;
                                .col.one &nbsp;
                                .col.one &nbsp;
                                .col.one &nbsp;
                                .col.one &nbsp;
                                .col.one &nbsp;
                                .col.one &nbsp;
                                .col.one &nbsp;
                                .col.one &nbsp;
                                .col.one &nbsp;
                                .col.one &nbsp;
                                .col.one &nbsp;
                    .slide.eden-slide
                        .container
                            h4.thin.title Why Eden?
                            ul.bold.bullet
                                li Easy to use & customise
                                li Takes pride in design
                                li Useful, modern components
                                li Not heavy
                    .slide.eden-slide
                        .container
                            <div id="chartdiv-size" class="am-chart" style="width: 100%; height: 400px; background-color: #52ae76;" ></div>
                    .slide.eden-slide
                        .container
                            .row.center-center
                                video(data-autoplay, loop)
                                    source(data-src="assets/video/presentation/components.mp4", type="video/mp4")
                    .slide.eden-slide
                        .container
                            .row.center-center
                                <div id="chartdiv-ratio" class="am-chart" style="width: 100%; height: 400px; background-color: #52AE76;"></div>
                #methodology.section
                    .slide
                        .container
                            h4.title.thin How was Eden built?
                    .slide
                        .container
                            .row.fill-y
                                .col.third
                                    .row.center-center
                                        img(src="assets/img/presentation/uml.svg", alt="UML")
                                .col.two-thirds
                                    .content.row.center-center.fill-y.facts
                                        .container
                                            .fact
                                                h6.thin Methodology
                                                hr.quarter
                                                p.bold Incremental Software Development with re-use
                                                img(src="assets/img/presentation/incremental.png", alt="Incremental Software Development")
                    .slide.research
                        .row.fill-y.fluid
                            .col
                                .content.row.center-center.fill-y.facts
                                    .container
                                        h4.title.thin Research
                                        .fact
                                            h6.thin Self Knowledge
                                            hr.quarter
                                            p.bold Experience
                                        .fact
                                            h6.thin Existing Software
                                            hr.quarter
                                            p.bold Bootstrap, Skeleton, Foundation, Pure
                                        .fact
                                            h6.thin Tools
                                            hr.quarter
                                            p.bold Sass, Jade/Pug, Gulp
                            .col
                                .img.fill-y.bg-center
                    .slide.sass-slide
                        .container
                            .row.center-center
                                img(alt="Sass", src="assets/img/presentation/sass.png")
                    .slide.pug-slide
                        .container
                            .row.center-center
                                img(alt="Pug", src="assets/img/presentation/pug.svg")
                    .slide.jquery-slide
                        .container
                            .row.center-center
                                img(alt="JQuery", src="assets/img/presentation/jquery.png")
                    .slide.gulp-slide
                        .container
                            .row.center-center
                                img(alt="Gulp", src="assets/img/presentation/gulp.jpg")
                    .slide.design
                        .row.fill-y.fluid
                            .col
                                .content.row.center-center.fill-y.facts
                                    .container
                                        h4.title.thin Design
                                        .fact
                                            h6.thin Sketches
                                            hr.quarter
                                            p.bold Drawing out designs for potential components
                                        .fact
                                            h6.thin Mockups
                                            hr.quarter
                                            p.bold Photoshop
                                        .fact
                                            h6.thin Faster Development
                                            hr.quarter
                                            p.bold Already know what I want to produce
                            .col
                                .img.fill-y.bg-center
                    .slide.coding
                        .row.fill-y.fluid
                            .col
                                .content.row.center-center.fill-y.facts
                                    .container
                                        h4.title.thin Development
                                        .fact
                                            h6.thin Pre-processing
                                            hr.quarter
                                            p.bold Jade/Pug, SASS, JQuery
                                        .fact
                                            h6.thin Compilation
                                            hr.quarter
                                            p.bold Jade/Pug -> HTML, SASS -> CSS
                                        .fact
                                            h6.thin Optimisation
                                            hr.quarter
                                            p.bold Minifing Files
                            .col
                                .img.fill-y
                    .slide.testing
                        .row.fill-y.fluid
                            .col
                                .content.row.center-center.fill-y.facts
                                    .container
                                        h4.title.thin Testing
                                        .fact
                                            h6.thin Unit
                                            hr.quarter
                                            p.bold Individual Pages
                                        .fact
                                            h6.thin System
                                            hr.quarter
                                            p.bold Building Websites
                                        .fact
                                            h6.thin Feedback
                                            hr.quarter
                                            p.bold Self, Peer, Industry
                            .col
                                .img.fill-y.bg-center
                    .slide.documentation
                        .row.fill-y.fluid
                            .col
                                .content.row.center-center.fill-y.facts
                                    .container
                                        h4.title.thin Documentation
                                        .fact
                                            h6.thin Instructions
                                            hr.quarter
                                            p.bold How would they know what to do?
                                        .fact
                                            h6.thin Support
                                            hr.quarter
                                            p.bold Clear, Easy, Simple.
                                        .fact
                                            a.button.dark.fat.bold(href="http://designofeden.com/", target="_blank") Take a read!
                            .col
                                .img.fill-y.bg-center
                #case-study.section
                    .slide
                        .container
                            h4.title.thin Case Studies
                    .slide
                        .container
                            .row-center-center
                                .responsive-media
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6SMyko6VAx8?rel=0&amp;showinfo=0&amp;start=140" frameborder="0" allowfullscreen></iframe>
                    .slide
                        .container
                            .row.center-center
                                img(alt="Aaron Conway Website", src="assets/img/presentation/aaronconway.png")
                    .slide
                        .container
                            .row.center-center
                                <div id="chartdiv" class="am-chart" style="width: 100%; height: 400px; background-color: #EEE;" ></div>
                    .slide
                        .container
                            .row.center-center
                                video(data-autoplay, loop)
                                    source(data-src="assets/video/presentation/frecibo.mp4", type="video/mp4")
                    .slide
                        .container
                            .row.center-center.logos
                                img(alt="Aaron Conway", src="assets/img/aaronconway.png")
                                img(alt="Frecibo", src="assets/img/frecibo-b&w.png")
                                img.ndorsa(alt="NDORSA", src="assets/img/ndorsa.png")
                                img(alt="WES", src="assets/img/wes.png")
                                img(alt="Co-Code", src="assets/img/co-code.png")
                #demo.section
                    .container
                        h4.title.thin Demo
                #project-management.section
                    .slide
                        .container
                            h4.title.thin Project Management
                    .slide.github-graphs
                        .container
                            h4.title.thin Jul 24, 2016 – Mar 5, 2017
                            .row.center-center
                                img(alt="GitHub Graph", src="assets/img/presentation/github-graph-1.jpg")
                            .row
                                img(alt="GitHub Graph", src="assets/img/presentation/github-graph-2.jpg")
                    .slide
                        .container
                            .row.center-center
                                img.timetable(alt="Specification Timetable", src="assets/img/presentation/timetable.png")
                    .slide.trello
                        .container
                            .row.center-center
                                img.logo(alt="Trello", src="assets/img/presentation/trello.svg")
                    .slide.trello
                        .container
                            .row.center-center
                                img(alt="Eden Trello Board", src="assets/img/presentation/trello-board.png")                        
                #further-work.section
                    .slide
                        .container
                            h4.title.thin What does the future hold?
                    .slide
                        .container
                            h4.bold The end is not nigh.
                            h4.thin (There is no end.)
                    .slide
                        .container
                            .row.center-center
                                img(alt="Youtube Playlist", src="assets/img/presentation/youtube-playlist.png")
                    .slide
                        .container
                            h4.thin More components?
                    .slide
                        .container
                            .row.center-center
                                video(data-autoplay, loop)
                                    source(data-src="assets/video/presentation/touch-events.mp4", type="video/mp4")
                            p.thin.text-right.reference (Álvaro Trigo, https://twitter.com/IMAC2/status/796070516004192256)
                    .slide
                        .container
                            h4.thin A back-end?
                #thank-you.section
                    .slide
                        .container
                            h4.title.thin Thank you for listening!
                    .slide
                        .container
                            h4.title.thin Questions?
        include include/footer
        include include/foot
        script(src="js/jquery.fullpage.js")
        //- amCharts javascript sources
        script(type="application/javascript", src="https://www.amcharts.com/lib/3/amcharts.js")
        script(type="application/javascript", src="https://www.amcharts.com/lib/3/serial.js")
        script(type="text/javascript", src="https://www.amcharts.com/lib/3/pie.js")
        script(src="js/pages/presentation.js")
