doctype html
html(lang='en')
  head
    include ../../include/head
    title Animations by Eden.
    link(href='../css/style.css', rel='stylesheet')
  body
    .universe#animations-pg
        #animations
            .container
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                h1.animation.on-scroll.fade-in-left Slide Left
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                h1.animation.on-scroll.slide-in-down Slide Down
                .boxes.row
                    .col.third
                        .box.animation.on-delay.fade-in-right.on-scroll
                    .col.third
                        .box.animation.on-delay.fade-in-right.on-scroll
                    .col.third
                        .box.animation.on-delay.fade-in-right.on-scroll
                .boxes.row
                    .col.third
                        .box.animation.on-delay.fade-in-right.on-scroll
                    .col.third
                        .box.animation.on-delay.fade-in-right.on-scroll
                    .col.third
                        .box.animation.on-delay.fade-in-right.on-scroll
                .boxes.row
                    .col.third
                        .box.animation.on-delay.fade-in-right.on-scroll
                    .col.third
                        .box.animation.on-delay.fade-in-right.on-scroll
                    .col.third
                        .box.animation.on-delay.fade-in-right.on-scroll
    include ../../include/foot
    script(src="../js/function.js")
