doctype html
html(lang='en')
  head
    include ../../include/head
    title Container by Eden.
    link(href='../css/style.css', rel='stylesheet')
  body
    .universe#button-pg
        #button
            .container
                button(type="button") Standard
                button.light(type="button") Light
                button.dark(type="button") Dark
                button.eden.no-border(type="button") Eden
                button.uppercase-and-space.short(type="button") Eden
