doctype html
html(lang='en')
  head
    include ../../include/head
    title Container by Eden.
    link(href='../css/style.css', rel='stylesheet')
  body
    .universe#button-pg
        #button
            .container
                button.transparent.rounded.border.uppercase-and-space(type="button") Standard
                button.light(type="button") Light
                button.dark(type="button") Dark
                button.rounded.eden.no-border.shadow(type="button") Eden
                button.border.uppercase-and-space(type="button") Eden
                a.button.transparent.rounded.border.uppercase-and-space(href="#") Standard
                a.button.dark(href="#") Dark
