doctype html
html(lang='en')
  head
    include ../../include/head
    title Form by Eden.
    link(href='../css/style.css', rel='stylesheet')
  body
    .universe#form-pg
        #typograpformhy
            .container
                input.round.border.animated-search(type="text", name="search", placeholder="Search...")
                .row.center-center
                    form.col
                        input.skinny.rounded.light.border-bottom(type="text", placeholder="test")
                        input.border-bottom.transparent(type="number")
                        label.select
                            select.border.sharp
                                option(value="placeholder", disabled='', selected='') Dropdown
                                option(value="volvo") Volvo
                                option(value="saab")
                                option(value="opel")
                        label.checkbox
                            input(type="checkbox")
                            span.label-text Checkbox 1
                        label.checkbox
                            input(type="checkbox")
                            span.label-text Checkbox 2
                        label.checkbox
                            input(type="checkbox" disabled)
                            span.label-text Checkbox 3
                        textarea.border.skinny(placeholder="Description goes here...")
                        input.light.tall.uppercase-and-space(type="submit")
                        label.toggle.light.shadow
                            input(type="checkbox")
                            .toggle-control
                                .option-1 Option 1
                                .option-2 Option 2
                                .handle.shadow
