doctype html
html(lang='en')
  head
    include ../../include/head
    title Form by Eden.
    link(href='../css/style.css', rel='stylesheet')
  body
    .universe#form-pg
        #typograpformhy
            .container
                form.col
                    input.skinny.rounded.light.border-bottom(type="text", placeholder="test")
                    input.border(type="number")
                    textarea.border
                    input.eden(type="submit")
                
