doctype html
html(lang='en')
  head
    include ../../include/head
    title Hero by Eden.
    link(href='../css/style.css', rel='stylesheet')
  body
    .universe#hero-pg
        #hero
            .hero.parallax
                .row.content.center-center
                    h1 Eden Heroes
                    //- h2 .hero
            .hero.overlay.dark.fat.short.parallax
                .col.content.center-center
                    h2 .hero.overlay.dark.fat.short
    include ../../include/foot
    script(src="../js/function.js")
