doctype html
html(lang='en')
  head
    include ../../include/head
    title Lightbox by Eden.
    link(href='../css/style.css', rel='stylesheet')
  body
    .universe#lightbox-pg
        #lightbox
            .container
                h1.text-center Lightbox.
                .lightbox.row.wrap
                    img(src="http://www.placecage.com/1200/700", alt="")
                    p.caption lol
                    img(src="http://www.placecage.com/g/200/500", alt="")
                    p.caption Nicholas Cage
                    img(src="http://www.placecage.com/1280/720", alt="")
                    img(src="http://www.placecage.com/650/1200", alt="")
                    img(src="http://www.placecage.com/g/800/1200", alt="")
                    img(src="http://www.placecage.com/c/200/500", alt="")
                    img(src="http://www.placecage.com/200/500", alt="")
                    
    include ../../include/foot
    script(src="../js/function.js")
