doctype html
html(lang='en')
  head
    include ../../include/head
    title Masonry by Eden.
    link(href='../css/style.css', rel='stylesheet')
  body
    .universe#masonry-pg
        #masonry
            .container
                h1.text-center Masonry.
                .masonry.col-3.tab-col-2.mob-col-1
                    img.item(src="http://www.placecage.com/1200/700", alt="")
                    img.item(src="http://www.placecage.com/g/200/500", alt="")
                    img.item(src="http://www.placecage.com/1280/720", alt="")
                    img.item(src="http://www.placecage.com/650/1200", alt="")
                    img.item(src="http://www.placecage.com/g/800/1200", alt="")
                    img.item(src="http://www.placecage.com/c/200/500", alt="")
                    img.item(src="http://www.placecage.com/200/500", alt="")
                    
    include ../../include/foot
    script(src="../js/function.js")
