doctype html
html(lang='en')
  head
    include ../../include/head
    title Slider by Eden.
    link(href='../css/style.css', rel='stylesheet')
  body
    .universe#slider-pg
        #slider
            .slider
                .slide
                .slide
                .slide
                
                span.slide-left.slider-control ❮
                span.slide-right.slider-control ❯
    
    include ../../include/foot
    script(src="../../js/function.js")
