doctype html
html(lang='en')
  head
    include ../../include/head
    title Table by Eden.
    link(href='../css/style.css', rel='stylesheet')
  body
    .universe#table-pg
        #table
            .container
                h1.text-center Table.
                .table
                    .table-heading.dark
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                    .table-body.light.striped
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                .table.border
                    .table-heading
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                    .table-body.transparent
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                .table.row-border
                    .table-heading
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                    .table-body.dark.striped
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                .table.col-border
                    .table-heading.light
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                    .table-body.light
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                        .table-row
                            .table-cell .
                            .table-cell .
                            .table-cell .
                
    include ../../include/foot
    script(src="../../js/function.js")
