@keyframes fadeIn
    0%
        opacity: 0
    100%
        opacity: 1

.fade-in
    animation-name: fadeIn

.fade-in-left
    animation-name: fadeIn, slideInLeft

.fade-in-right
    animation-name: fadeIn, slideInRight

.fade-in-up
    animation-name: fadeIn, slideInUp

.fade-in-down
    animation-name: fadeIn, SlideInDown
