$eden-green: rgb(82, 174, 118)
$eden-charcoal: rgb(47, 47, 47)
$eden-dark-grey: rgb(187, 187, 187)
$eden-light-grey: rgb(236, 236, 236)

.thin
    font-weight: 100
.bold
    font-weight: 900

.reference
    font-size: 0.7em
    font-style: italic
    margin-top: 20px

.section
    font-size: 1.5rem

    .title
        margin-bottom: 50px

    ul
        line-height: 2em

    video
        height: 70vh
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75)

    img
        max-height: 70vh
        max-width: 100%

        &.shadow
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75)

header

    .nav
        color: #eee !important

        .logo
            height: 30px !important

#presentation
    background-color: #eee

    .hero
        background-image: url('../assets/img/presentation/hero1.jpg')
        background-attachment: fixed
        color: #eee
        position: relative

        .scroll-down
            position: absolute
            bottom: 20px

            a
                font-weight: 900
                opacity: 0.75
                font-size: 0.6em

                &:hover
                    opacity: 1

    #me

        .img
            border-radius: 100%
            min-height: 150px
            min-width: 150px
            background-image: url('../assets/img/presentation/me.jpg')
            background-position: top
            margin-right: 50px

    #the-problem

        .bootstrap-slide
            background-color: #563d7c

            img
                border: 1px solid #eee
                border-radius: 15px

        .skeleton-slide
            background-color: white

            h1
                font-family: Raleway
                font-weight: 100

    #the-solution

        img.eden
            height: 150px
            background-color: transparent


        .eden-slide
            background-color: $eden-green
            color: #eee

            img
                height: 100px
                margin-right: 10px

    #methodology

        .img
            background-image: url('../assets/img/presentation/code.jpg')

        .facts
            padding-left: 100px

            .fact
                margin-bottom: 75px

                &:last-of-type
                    margin-bottom: 0px

            .bold
                font-weight: 900

            hr
                opacity: 0.2

        .sass-slide
            background-color: #cc6699

            img
                height: 300px

        .pug-slide
            background-color: #a86454

        .jquery-slide
            background-color: #0769ad

        .gulp-slide
            background-color: #e84c50

    #case-study

        iframe
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75)

        .logos

            img
                height: 50px
                margin-right: 50px
                opacity: 0.5

                &.ndorsa
                    opacity: 0.3

                &:last-of-type
                    margin-right: 0px

    #project-management

        .github-graphs

            img
                border-radius: 5px
                border: 1px solid $eden-dark-grey

                &:first-of-type
                    margin-bottom: 10px

        .slide

            &.trello
                background-color: #026aa7

                .logo
                    height: 100px



footer

    p
        opacity: 0.75
        margin-right: 10px
        font-size: 0.8rem

        a
            font-weight: 400
            transition: all 0.3s ease-in-out

            &:hover
                color: darken($eden-green, 10)

    object
        height: 30px
