$eden-green: rgb(82, 174, 118)
$eden-charcoal: rgb(47, 47, 47)
$eden-dark-grey: rgb(187, 187, 187)
$eden-light-grey: rgb(236, 236, 236)

\:root
    font-size: 15pt

.fp-viewing-1-0, .fp-viewing-1-1, .fp-viewing-1-2, .fp-viewing-1-3, .fp-viewing-1-4, .fp-viewing-1-5, .fp-viewing-1-6, .fp-viewing-1-7,
.fp-viewing-2-0, .fp-viewing-2-1, .fp-viewing-2-2, .fp-viewing-2-5, .fp-viewing-2-6, .fp-viewing-2-7,
.fp-viewing-3-0,
.fp-viewing-4-0, .fp-viewing-4-1, .fp-viewing-4-2, .fp-viewing-4-7, .fp-viewing-4-8, .fp-viewing-4-9, .fp-viewing-4-10,
.fp-viewing-5-0, .fp-viewing-5-1, .fp-viewing-5-2, .fp-viewing-5-3, .fp-viewing-5-4, .fp-viewing-5-5,
.fp-viewing-6,
.fp-viewing-7-0, .fp-viewing-7-1, .fp-viewing-7-2,
.fp-viewing-8-0, .fp-viewing-8-1, .fp-viewing-8-2, .fp-viewing-8-3, .fp-viewing-8-4, .fp-viewing-8-5,
.fp-viewing-9-0, .fp-viewing-9-1
    .nav .brand span
        color: #2f2f2f

.am-chart
    height: 60vh !important
    font-weight: 900

.thin
    font-weight: 100
.bold
    font-weight: 900

.reference
    font-size: 0.7em
    font-style: italic
    margin-top: 20px

.section
    font-size: 1.5rem

    .title
        margin-bottom: 50px

    ul
        line-height: 2em

    video
        height: 70vh
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75)

    img
        max-height: 70vh
        max-width: 100%

        &.shadow
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75)

header

    .nav
        color: #eee !important

        .logo
            height: 30px !important

#presentation
    background-color: #eee

    .hero
        background-image: url('../assets/img/presentation/hero1.jpg')
        background-attachment: fixed
        color: #eee
        position: relative

        .scroll-down
            position: absolute
            bottom: 20px

            a
                font-weight: 900
                opacity: 0.75
                font-size: 0.6em

                &:hover
                    opacity: 1

    #me

        .img
            border-radius: 100%
            min-height: 150px
            min-width: 150px
            background-image: url('../assets/img/presentation/me.jpg')
            background-position: top
            margin-right: 50px

        .lightbox

            .modal
                margin-left: 50%
                width: 50%

            & > img
                height: 100px
                margin: 10px

            .active-img
                max-width: 75vw

    #the-problem

        .bootstrap-slide
            background-color: #563d7c

            img
                border: 1px solid #eee
                border-radius: 15px

            &.comparision

                img
                    height: 75px
                    margin-bottom: 25px

                .table-heading, .table-body
                    color: #eee

        .skeleton-slide
            background-color: white

            h1, h4
                font-family: Raleway
                font-weight: 100

            &.comparision

                h4
                    margin-bottom: 25px

        .style
            font-family: Pacifico
            margin-right: 15px
        .substance
            font-family: Times New Roman

    #the-solution

        img.eden
            height: 150px
            background-color: transparent


        .eden-slide
            background-color: $eden-green
            color: #eee

            img
                height: 100px
                margin-right: 10px

            .responsive
                height: 500px

            &.grid

                .row
                    margin-bottom: 10px

                .col
                    background-color: #eee
                    opacity: 0.75
                    transition: all 0.3s ease-in-out

                    &:hover
                        opacity: 1

    #methodology

        .research

            .img
                background-image: url('../assets/img/presentation/research.jpg')

        .design

            .img
                background-image: url('../assets/img/presentation/design.jpg')

        .coding

            .img
                background-image: url('../assets/img/presentation/coding.jpg')

        .testing

            .img
                background-image: url('../assets/img/presentation/testing.jpg')

        .documentation

            .img
                background-image: url('../assets/img/presentation/documentation.jpg')

        .facts
            padding-left: 100px

            .fact
                margin-bottom: 75px

                &:last-of-type
                    margin-bottom: 0px

                img
                    margin-top: 50px

            .bold
                font-weight: 900

            hr
                opacity: 0.2

        .sass-slide
            background-color: #cc6699

            img
                height: 300px

        .pug-slide
            background-color: #a86454

        .jquery-slide
            background-color: #0769ad

        .gulp-slide
            background-color: #e84c50

    #case-study

        iframe
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75)

        .logos

            img
                height: 50px
                margin-right: 50px
                opacity: 0.5

                &.ndorsa
                    opacity: 0.3

                &:last-of-type
                    margin-right: 0px

    #project-management

        .github-graphs

            img
                border-radius: 5px
                border: 1px solid $eden-dark-grey

                &:first-of-type
                    margin-bottom: 10px

        .slide

            &.trello
                background-color: #026aa7

                .logo
                    height: 100px

        .timetable
            width: 100%



footer

    p
        opacity: 0.75
        margin-right: 10px
        font-size: 0.8rem

        a
            font-weight: 400
            transition: all 0.3s ease-in-out

            &:hover
                color: darken($eden-green, 10)

    object
        height: 30px
