@import 'https://fonts.googleapis.com/css?family=Pacifico'
@import 'https://fonts.googleapis.com/css?family=Dosis:300,400,600,800'

$eden-dark-green: rgb(20, 184, 125)
$eden-green: rgb(82, 174, 118)
$eden-light-green: rgb(156, 230, 160)

$eden-charcoal: rgb(47, 47, 47)
$eden-dark-grey: rgb(187, 187, 187)
$eden-light-grey: rgb(236, 236, 236)
$tab-screen: 768px
$mob-screen: 425px

.curly
    font-family: Pacifico

.bg-center
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.quote, .quote-author
    font-style: italic

.quote-author
    text-align: right

hr
    border-width: 1px
    border-style: solid

    &.center
        margin-left: auto
        margin-right: auto

    &.fat
        width: 50%
    &.skinny
        width: 25%

#nav
    padding: 25px 0px

    @media screen and (max-width: $tab-screen)
        padding: 0px

    .nav

        &>.nav-options

            &>li
                padding: 0px 35px !important

        .sidebar
            border-left: 2px solid white

#home-pg

    .hero
        background-image: url('../assets/img/bg/index.jpg')
        height: auto

        .content
            color: white

            h5
                @media screen and (max-width: $tab-screen)
                    font-size: 1.5rem

            h3
                font-family: Pacifico
                text-transform: lowercase

    #about

        h5
            font-weight: 300
            margin-bottom: 20px

        span.curly
            color: $eden-green

        p
            margin-bottom: 50px

        .icons
            margin-bottom: 40px

            img
                height: 75px
                margin: 0px 50px

                @media screen and (max-width: 768px)
                    margin: 0px 30px

                @media screen and (max-width: 425px)
                    margin: 0px
                    margin-bottom: 30px

                    &:last-of-type
                        margin-bottom: 0px

    #read-doc
        height: 600px
        background-color: $eden-green
        transition: all 0.3s ease-in-out

        &:hover
            background-color: darken($eden-green, 10)

        h5
            color: white
            font-weight: 300

    #brands

        h5
            font-weight: 300
            margin-bottom: 75px

        .logos

            img
                height: 40px
                margin: 0px 30px
                opacity: 0.75
                cursor: pointer
                transition: all 0.3s ease-in-out

                &:hover
                    opacity: 1

                @media screen and (max-width: 768px)
                    margin: 0px 20px

                @media screen and (max-width: 425px)
                    margin: 0px
                    margin-bottom: 50px

                    &:last-of-type
                        margin-bottom: 0px

                &:first-of-type
                    margin-left: 0px

                &:last-of-type
                    margin-right: 0px

                &.ndorsa
                    opacity: 0.5

                    &:hover
                        opacity: 0.75

    #open-source
        background-color: #F7F7F7

        &>.container
            padding-bottom: 20px

        h5
            font-weight: 300
            margin-bottom: 20px

        p
            margin-bottom: 40px

        .buttons
            margin-bottom: 100px

            a
                font-size: 0.8rem
                margin: 0px 10px

                &.eden
                    font-weight: 400

                @media screen and (max-width: 425px)
                    margin: 0px
                    margin-bottom: 10px
                    width: 100%

                    &:last-of-type
                        margin-bottom: 0px

        .github-stats

            iframe, .version-number
                margin: 0px 20px
                opacity: 0.5

            iframe
                transition: all 0.3s ease-in-out

                &:hover
                    opacity: 1

#about-pg

    .hero
        background-image: url("../assets/img/bg/about.jpg")

    hr
        margin-top: 20px
        margin-bottom: 50px
        width: 50px
        border-color: $eden-dark-grey

    .quote
        font-size: 2rem
        margin-bottom: 5px

    .quote-author
        margin-bottom: 100px

    .about-content
        column-count: 2

        p
            margin-bottom: 1em

            &:last-of-type
                margin-bottom: 0px

    .keywords
        background-color: $eden-light-grey

        h2
            margin-bottom: 2px
            font-family: Merriweather
            color: $eden-charcoal

            &:last-of-type
                margin-bottom: 0px

        p
            font-style: italic

        hr
            border-color: $eden-green
            margin-top: 50px

        .img
            height: 400px
            background-image: url("../assets/img/bg/about2.jpg")

    .about-me
        background-color: $eden-green
        color: $eden-light-grey

        h5
            margin-bottom: 50px

        .img
            width: 100%
            height: 350px
            background-image: url("../assets/img/me.jpg")

        img
            width: 100%

        p
            margin-bottom: 1em
            font-weight: 400

            @media screen and (max-width: $tab-screen)
                font-size: 1rem

            &:last-of-type
                margin-bottom: 0px

#get-started-pg

    .hero
        background-image: url("../assets/img/bg/get-started.jpg")
        color: $eden-light-grey

        h5
            font-weight: 100
            margin-bottom: 5px

        .quote-author
            text-align: left !important
            font-size: 0.9rem

    .get-started

        hr
            margin-top: 20px
            margin-bottom: 50px
            width: 50px
            border-color: $eden-dark-grey

        section
            margin-bottom: 100px

            &:last-of-type
                margin-bottom: 0px

        .heading
            font-weight: 900
            margin-bottom: 0px

        p
            margin-bottom: 1em

            span
                margin-left: 5px

        .what-do-you-get

            .code

                span
                    display: block

        .code

            .comment
                color: $eden-light-grey
                opacity: 0.5

                &:before
                    content: "<!-- "
                &:after
                    content: " -->"


#footer

    .container
        padding: 20px 0px

        p
            opacity: 0.75
            margin-right: 10px
            font-size: 0.8rem

            a
                font-weight: 400
                transition: all 0.3s ease-in-out

                &:hover
                    color: $eden-dark-green

        object
            height: 30px

.banner

    &.is-fixed
        position: fixed
        width: 100%
        top: 0px
        left: 0px
        right: 0px
        background-color: rgba(82,174,118,1) !important
        z-index: 99
        transition: all 1s ease-in-out

    &.eden
        background-color: rgba($eden-green, 0.75)

    & > .container
        padding-top: 25px
        padding-bottom: 25px

        h1
            color: white
            font-weight: 300
            display: inline-block
            font-size: 1.75rem

        ul
            list-style: none
            display: inline-block

            li
                display: inline-block
                color: black
                opacity: 0.5
                font-size: 0.9em
                transition: all 0.3s ease-in-out

                &:last-of-type
                    &::after
                        content: ""

                &:after
                    content: "/"
                    margin-left: 0.3em
                    opacity: 0.4

                &:hover
                    opacity: 1

#components-pg

    .page-content
        position: relative

    #banner
        position: absolute
        width: 100%
        top: 0px
        z-index: 98

    #components

        .component

            & > .container
                padding-top: 100px
                padding-bottom: 0px

                @media screen and (max-width: $tab-screen)
                    padding-top: 50px

                & > h3
                    color: #6b6d6f
                    text-align: left
                    display: inline-block

                & > span
                    vertical-align: super
                    margin-left: 10px
                    opacity: 0.5
                    cursor: pointer
                    transition: all 0.3s ease-in-out

                    &:hover
                        opacity: 0.75

                & > p
                    margin-bottom: 10px

            .container.second
                padding-top: 0px

        #container-component

            .wrapper
                background-color: $eden-light-grey
                transition: all 0.3s ease-in-out

                &:hover
                    background-color: $eden-dark-grey

                .tool-tip-text
                    margin-left: 20px

                .container
                    background-color: $eden-dark-grey
                    transition: all 0.3s ease-in-out

                    &:hover
                        background-color: $eden-charcoal

        #grid-component

            .row
                margin-bottom: 10px

                &:last-of-type
                    margin-bottom: 0px

            .col
                background-color: $eden-light-grey
                transition: all 0.3s ease-in-out

                &:hover
                    background-color: $eden-dark-grey
                    cursor: help

        #nav-component

            .nav
                margin-bottom: 10px

                &:last-of-type
                    margin-bottom: 0px

                &:nth-of-type(3)
                    font-family: Dosis

                &:nth-of-type(4)
                    font-family: Playfair Display

        #hero-component

            .hero

                &:nth-of-type(2)
                    background-image: url('../assets/img/bg/hero1.jpg')
                    color: #fff

                    h1
                        font-family: Playfair Display
                        font-size: 15rem

                        @media screen and (max-width: $tab-screen)
                            font-size: 8rem
                        @media screen and (max-width: $mob-screen)
                            font-size: 4rem

                &:nth-of-type(4)
                    background-image: url('../assets/img/bg/hero2.jpg')
                    background-position: center 70%
                    color: #fff

                    h1
                        font-family: Pacifico
                        font-size: 2.5rem
                        margin: 50px

        #modal-component

            .modal
                position: static
                z-index: 0

        #button-component

            .buttons

                button
                    margin-right: 10px

                    &:last-of-type
                        margin-right: 0px

        #form-component

            form
                width: 300px

                input
                    margin-bottom: 10px

                .form-controls

                    input
                        margin: 0px
                        margin-right: 5px

                        &:last-of-type
                            margin-right: 0px

        #slider-component

            .slider

                .slide
                    background-position: center
                    background-repeat: no-repeat
                    background-size: cover

                    &:nth-of-type(1)
                        background-image: url('../assets/img/bg/slider1.jpg')
                    &:nth-of-type(2)
                        background-image: url('../assets/img/bg/slider2.jpg')
                    &:nth-of-type(3)
                        background-image: url('../assets/img/bg/slider3.jpg')

                    h1
                        color: #fff

        #lightbox-component

            .lightbox

                img
                    height: 100px
                    margin-right: 10px
                    margin-bottom: 10px

                .caption
                    color: white

                .modal
                    background-color: rgba(0, 0, 0, 0.9)

                .slider-control
                    color: white

        #overlay-component

            .row
                margin-bottom: 10px

                &:last-of-type
                    margin-bottom: 0px

            .overlay
                height: 150px
                width: 100%
                margin-right: 10px
                background-color: $eden-charcoal
                background-position: center
                background-size: cover

                &:last-child
                    margin-right: 0px

            .img-1
                background-image: url("../assets/img/bg/overlay1.jpg")
                &:after
                    background-color: #801818
                    opacity: 0.5
            .img-2
                background-image: url("../assets/img/bg/overlay2.jpg")
            .img-3
                background-image: url("../assets/img/bg/overlay3.jpg")
            .img-4
                background-image: url("../assets/img/bg/overlay4.jpg")
            .img-5
                background-image: url("../assets/img/bg/overlay5.jpg")
                &:after
                    background-color: #183e80
                    opacity: 0.5
            .img-6
                background-image: url("../assets/img/bg/overlay6.jpg")
            .img-7
                background-image: url("../assets/img/bg/overlay7.jpg")
            .img-8
                background-image: url("../assets/img/bg/overlay8.jpg")
            .img-9
                background-image: url("../assets/img/bg/overlay9.jpg")
            .img-10
                background-image: url("../assets/img/bg/overlay10.jpg")

.layout
    position: relative
    overflow-x: hidden

    &.sidebar

        .sidebar
            color: white
            overflow-y: auto
            transition: left 0.3s ease-in-out

            @media screen and (max-width: $tab-screen)
                left: -190px

                &:hover
                    left: 0px

                & + .main
                    padding-left: 10px

            .brand
                font-size: 1.5rem
                margin-bottom: 50px

            .nav-options
                font-size: 1rem
                display: block
                line-height: 2.5em

                & > li
                    margin-left: 0px
                    height: auto

        .main
            padding-left: 200px

            & > hr
                width: 50%
                margin-left: auto
                margin-right: auto
                border: 1px solid $eden-light-grey
                transform: translate3d(0px, 30px, 0px)

                @media screen and (max-width: $tab-screen)
                    transform: translate3d(0px, 10px, 0px)
