section#footer
    .container
        .row.right-center
            p Designed for design by #[a(href="http://aaronconway.co.uk") Aaron Conway]. 
            object(data="assets/img/aaronconway.svg", type="image/svg+xml")
