footer.footer.padded.transparent.short
    .row.right-center.fill-y
        p Designed for design by #[a(href="http://aaronconway.co.uk") Aaron Conway]. 
        object(data="assets/img/aaronconway.png")
